flows.json
[
    {
        "id": "fce55c80ba409b3d",
        "type": "tab",
        "label": "dispatch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a39c97029f2c005f",
        "type": "tab",
        "label": "app",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6d8802f46b4aa03",
        "type": "tab",
        "label": "ASHP0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce7503bf65214c43",
        "type": "tab",
        "label": "PID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78ad727ff3800ccd",
        "type": "tab",
        "label": "LAE0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b049155917211c7",
        "type": "tab",
        "label": "bridge",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "892c223a74ad0925",
        "type": "tab",
        "label": "recycling bin",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "86219b48706129b6",
        "type": "tab",
        "label": "playspace",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "3187bd06ef664359",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ada38113f2dc695",
        "type": "subflow",
        "name": "Process Simulation",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 37,
                "y": 103,
                "wires": [
                    {
                        "id": "5198a3b093941629"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 728.5,
                "y": 294,
                "wires": [
                    {
                        "id": "f7ed1a411069eb16",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 360,
            "y": 40,
            "wires": []
        }
    },
    {
        "id": "91e4421d067a2d1b",
        "type": "junction",
        "z": "fce55c80ba409b3d",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "6ac4b5a2620be04c"
            ]
        ]
    },
    {
        "id": "2f07922ce4dbc1ad",
        "type": "junction",
        "z": "0b049155917211c7",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "55db0f5201cd5d76",
                "154f1ee8c4c69a62"
            ]
        ]
    },
    {
        "id": "2b42a705743e033e",
        "type": "junction",
        "z": "892c223a74ad0925",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "71fb77d41d8abc20"
            ]
        ]
    },
    {
        "id": "657e75936deb6112",
        "type": "junction",
        "z": "d6d8802f46b4aa03",
        "x": 580,
        "y": 40,
        "wires": [
            [
                "faf9c12a90fda8f1",
                "0b3d1bb1f851d520"
            ]
        ]
    },
    {
        "id": "2ce60664f6ba7120",
        "type": "mqtt-broker",
        "name": "hivemq-cloud",
        "broker": "mqtts://c07335216ae5441aaa13f083bcff6484.s2.eu.hivemq.cloud",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9d1ae28e263fad2a",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7d7a9bc368fd645d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "local-influx",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "6db0e35f8056298a",
        "type": "serial-port",
        "name": "USB0",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "19200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "bin",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c6b56e0744603b80",
        "type": "modbus-client",
        "name": "ashp0-modbus",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": true,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.240",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 10000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 10000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "ab1ab0d04bdd3b34",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "caxton30d",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://eu-central-1-1.aws.cloud2.influxdata.com",
        "rejectUnauthorized": true
    },
    {
        "id": "e41c774eeb2b3037",
        "type": "ui-base",
        "name": "Caxton",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "fixed",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true
    },
    {
        "id": "c35227ba6f0c2fc2",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "b43082bff9046c6f",
        "type": "ui-page",
        "name": "Heating",
        "ui": "e41c774eeb2b3037",
        "path": "/heat",
        "icon": "home",
        "layout": "grid",
        "theme": "c35227ba6f0c2fc2",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "08c18c121b60a93e",
        "type": "ui-group",
        "name": "Gauges",
        "page": "20e890f349e38240",
        "width": "8",
        "height": "3",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "20e890f349e38240",
        "type": "ui-page",
        "name": "Building",
        "ui": "e41c774eeb2b3037",
        "path": "/building",
        "icon": "home",
        "layout": "grid",
        "theme": "c35227ba6f0c2fc2",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7d2a07e2b30dad87",
        "type": "ui-group",
        "name": "Controls",
        "page": "b43082bff9046c6f",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8a3ca6b2c6028d5b",
        "type": "modbus-client",
        "name": "LAE-AC1-27",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "ASCII",
        "serialBaudrate": "9600",
        "serialDatabits": "7",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "3bf5edcf0ab1a992",
        "type": "function",
        "z": "0ada38113f2dc695",
        "name": "30 sec RC + 20",
        "func": "// @ts-nocheck\n// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} \nelse {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 626.5,
        "y": 207,
        "wires": [
            [
                "f7ed1a411069eb16"
            ]
        ]
    },
    {
        "id": "e94100a68efcf2f1",
        "type": "inject",
        "z": "0ada38113f2dc695",
        "name": "Inject -0.2 at start",
        "props": [
            {
                "p": "payload",
                "v": "-0.2",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "-0.2",
        "payloadType": "num",
        "x": 134.5,
        "y": 30,
        "wires": [
            [
                "5198a3b093941629"
            ]
        ]
    },
    {
        "id": "93d213fc305f7484",
        "type": "function",
        "z": "0ada38113f2dc695",
        "name": "10 sec RC",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 451,
        "y": 207,
        "wires": [
            [
                "3bf5edcf0ab1a992"
            ]
        ]
    },
    {
        "id": "5198a3b093941629",
        "type": "delay",
        "z": "0ada38113f2dc695",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 268,
        "y": 104,
        "wires": [
            [
                "516bbc56d2b3415c"
            ]
        ]
    },
    {
        "id": "7cd9046544592499",
        "type": "function",
        "z": "0ada38113f2dc695",
        "name": "2 msg transport delay",
        "func": "// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 258,
        "y": 208,
        "wires": [
            [
                "93d213fc305f7484"
            ]
        ]
    },
    {
        "id": "f7ed1a411069eb16",
        "type": "function",
        "z": "0ada38113f2dc695",
        "name": "Clear all except payload",
        "func": "var msg2 = {payload: msg.payload};\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 545,
        "y": 293,
        "wires": [
            []
        ]
    },
    {
        "id": "516bbc56d2b3415c",
        "type": "range",
        "z": "0ada38113f2dc695",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "10-10",
        "x": 77,
        "y": 208,
        "wires": [
            [
                "7cd9046544592499"
            ]
        ]
    },
    {
        "id": "01189677a0099e03",
        "type": "mqtt out",
        "z": "fce55c80ba409b3d",
        "name": "hive",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2ce60664f6ba7120",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "b71d646d0524d860",
        "type": "function",
        "z": "fce55c80ba409b3d",
        "name": "globalise",
        "func": "\nlet config = global.get(\"site-config\");\nmsg.topic = config.site + '/' + msg.topic ;\n\nlet ot =  msg.hasOwnProperty('originalTopic') ? msg.originalTopic : '' ; \nif (ot == msg.topic)\n{\n    //node.log(msg.topic + ' Suppressing echoing')\n    return null ; \n} \nreturn msg ;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "91e4421d067a2d1b",
                "01189677a0099e03"
            ]
        ]
    },
    {
        "id": "06aca66c9580d0d3",
        "type": "function",
        "z": "fce55c80ba409b3d",
        "name": "localise",
        "func": "\nmsg.topic =  'local' + '/' + msg.topic ;\n/*\nlet uc =  msg.hasOwnProperty('useCount') ?  msg.useCount : 0 ;\nif (uc > 2) \n    return null ;\n*/\n\nlet ot =  msg.hasOwnProperty('originalTopic') ? msg.originalTopic : '' ; \nif (ot == msg.topic)\n{\n    //node.log(msg.topic + ' Suppressing echo')\n    return null ; \n} \nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "91e4421d067a2d1b",
                "56dc2cb7060287ab"
            ]
        ]
    },
    {
        "id": "56dc2cb7060287ab",
        "type": "mqtt out",
        "z": "fce55c80ba409b3d",
        "name": "mosquitto",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d1ae28e263fad2a",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "6ac4b5a2620be04c",
        "type": "debug",
        "z": "fce55c80ba409b3d",
        "name": "to MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "f5ee308ca04a95f3",
        "type": "mqtt in",
        "z": "fce55c80ba409b3d",
        "name": "hive",
        "topic": "+/+/request/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2ce60664f6ba7120",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 40,
        "wires": [
            [
                "3fff4148fd6087dd"
            ]
        ]
    },
    {
        "id": "334d436609f20f3a",
        "type": "mqtt in",
        "z": "fce55c80ba409b3d",
        "name": "mosquitto",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9d1ae28e263fad2a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 100,
        "wires": [
            [
                "3fff4148fd6087dd"
            ]
        ]
    },
    {
        "id": "169352bc32f5bbd4",
        "type": "switch",
        "z": "fce55c80ba409b3d",
        "name": "dispatch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "app\\/",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "pid\\/request",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "bridge\\/response",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "bridge\\/request",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "bridge",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^[adprsgmt][^\\d]*[\\d]{1,2}$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^heatX\\/[\\w]{2,}$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 8,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "7b7a4dd23fba8082"
            ],
            [
                "e214bc4b98b2be8f"
            ],
            [
                "b71d646d0524d860"
            ],
            [
                "06aca66c9580d0d3"
            ],
            [
                "b71d646d0524d860"
            ],
            [
                "e5c04e4bbe660ab9"
            ],
            [
                "c6fd0ae9641d7484"
            ],
            [
                "aca5d197ea67d78a"
            ]
        ],
        "info": "the regex here \n\nhttps://regex101.com/r/wlRMWz/1"
    },
    {
        "id": "3fff4148fd6087dd",
        "type": "function",
        "z": "fce55c80ba409b3d",
        "name": "check-in",
        "func": "msg.originalTopic = msg.topic ;\nlet pos = msg.topic.indexOf('/') ;\nmsg.prefix = msg.topic.substring(0,pos);\nmsg.topic = msg.topic.substring(pos+1);\n\n\n// make sure the message is for us\nlet config = global.get(\"site-config\")\n\nif (!([config.site, 'local', 'bridge'].includes(msg.prefix)))\n{\n  node.error(msg.originalTopic + ' unrecognised prefix, expected to local or ' + config.site + ', retain ' + msg.retain + \" \" + msg.payload);\n  return null ;   // it is not\n}\nnode.status({ fill: \"green\", shape: \"dot\", text: `${msg.originalTopic}`});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 60,
        "wires": [
            [
                "169352bc32f5bbd4"
            ]
        ]
    },
    {
        "id": "9c0f3e23e9286b36",
        "type": "influxdb out",
        "z": "fce55c80ba409b3d",
        "influxdb": "ab1ab0d04bdd3b34",
        "name": "influx cloud",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "PUNL-30d",
        "bucket": "caxton30d",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "75bac89abeeb5a27",
        "type": "influxdb out",
        "z": "fce55c80ba409b3d",
        "influxdb": "7d7a9bc368fd645d",
        "name": "influx local",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "caxtonLive",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "aca5d197ea67d78a",
        "type": "debug",
        "z": "fce55c80ba409b3d",
        "name": "discarded",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "dd793b9131285a2d",
        "type": "file in",
        "z": "fce55c80ba409b3d",
        "name": "read config file",
        "filename": "/mnt/dietpi_userdata/site-config.yaml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 280,
        "y": 720,
        "wires": [
            [
                "8e01751ffc91da73"
            ]
        ]
    },
    {
        "id": "8e01751ffc91da73",
        "type": "yaml",
        "z": "fce55c80ba409b3d",
        "property": "payload",
        "name": "",
        "x": 450,
        "y": 720,
        "wires": [
            [
                "5e632bcd3eb2c3ec"
            ]
        ]
    },
    {
        "id": "e45e88337a59659f",
        "type": "debug",
        "z": "fce55c80ba409b3d",
        "name": "config",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "5e632bcd3eb2c3ec",
        "type": "function",
        "z": "fce55c80ba409b3d",
        "name": "set config",
        "func": "let config = msg.payload;\nglobal.set(\"site-config\", config);\nnode.log('Site config loaded for ' + config.site);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 780,
        "wires": [
            [
                "e45e88337a59659f"
            ]
        ]
    },
    {
        "id": "b059487bc1ff0a2b",
        "type": "link in",
        "z": "fce55c80ba409b3d",
        "name": "MQTT local",
        "links": [
            "0a9719bd77581975",
            "577231c552842134"
        ],
        "x": 265,
        "y": 360,
        "wires": [
            [
                "06aca66c9580d0d3"
            ]
        ]
    },
    {
        "id": "ae83978daa30c005",
        "type": "link in",
        "z": "fce55c80ba409b3d",
        "name": "MQTT cloud",
        "links": [
            "293ae4963a27a257",
            "8e6fb5fdc6f0bef1"
        ],
        "x": 265,
        "y": 320,
        "wires": [
            [
                "b71d646d0524d860"
            ]
        ]
    },
    {
        "id": "d544888678a2bcd7",
        "type": "debug",
        "z": "fce55c80ba409b3d",
        "name": "influx",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "9b111b1a593b741c",
        "type": "inject",
        "z": "fce55c80ba409b3d",
        "name": "reload",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "dd793b9131285a2d"
            ]
        ]
    },
    {
        "id": "e5c04e4bbe660ab9",
        "type": "function",
        "z": "fce55c80ba409b3d",
        "name": "unpack",
        "func": "/**\n * handle incoming traffic from sensors\n * serialize all the properties into single msgs\n */\n\n\nconst source = msg.topic; // e.g. s3\n\n// look up sensor location\n\nconst config = global.get(\"site-config\");\n\nconst location = config.sensorMap.hasOwnProperty(source) \n               ? config.sensorMap[source] : source;  // e.g. s3\n\nconst stream = [] \n\nconst fieldList = ['battery','humidity','linkquality','temperature','voltage','windSpeed','windDirection'];\n\nconst m = {}   // Object.assign({}, msg);\n\nm.originalTopic = msg.originalTopic\nm.payload = {}\nm.prefix = msg.prefix \n\n// push out new message for every property in \n// the fileList.\n\nfor (const property in msg.payload) {\n    const n = Object.assign({}, m);\n    n.payload = Object.assign({}, m.payload);\n    if (fieldList.includes(property))\n    {\n        n.topic = source + '/' + property\n        n.measurement = property\n        n.source = source \n        n.location = location\n        n.payload = msg.payload[property]\n        n.timestamp = msg.timestamp \n        n.writeThrough = true ;\n        stream.push(n)\n    }\n}\nreturn [stream]",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 420,
        "wires": [
            [
                "2447196ebfeb6d69"
            ]
        ]
    },
    {
        "id": "3a0b7c61797ade28",
        "type": "link in",
        "z": "fce55c80ba409b3d",
        "name": "downsample in",
        "links": [
            "298f4d77b929e02a",
            "57a65d7e6a100b88",
            "5d488e53c97b07ab"
        ],
        "x": 75,
        "y": 600,
        "wires": [
            [
                "2447196ebfeb6d69",
                "11cd67874a91f2ba"
            ]
        ]
    },
    {
        "id": "4db6202e94cea612",
        "type": "function",
        "z": "fce55c80ba409b3d",
        "name": "tag for influx",
        "func": "if (['local'].includes(msg.prefix) == false) {\n  node.error(msg.topic + \" only storing 'local' sensors \");\n  return null;   // it is not.  Use hops in future?\n}\n\n/*  \n  strip out the known tag fields and place in second array in payload. \n  this is the standard reporting format for influx.\n  The msg.topic is ignored\n*/\n\nconst tagList = ['source'];\nconst fieldList = ['battery', 'humidity', 'linkquality', 'temperature', 'voltage', 'windSpeed', 'windDirection', 'kWh'];\nconst fields = {};\nconst tags = {};\n\nfields[msg.location] = msg.payload; \ntags['source'] = msg.source ;  \nmsg.payload = [fields,tags]\n\nconst isSet = (o, prop) => Object.hasOwn(o,prop) ? o[prop] : false\n\nif (isSet(msg,'track')) \n  node.status({ fill: \"yellow\", shape: \"dot\", text: `${msg.measurement} ${msg.location} ${msg.source}` });\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 500,
        "wires": [
            [
                "d544888678a2bcd7",
                "9c0f3e23e9286b36",
                "75bac89abeeb5a27"
            ]
        ]
    },
    {
        "id": "7e810e9aa6aab8ad",
        "type": "debug",
        "z": "fce55c80ba409b3d",
        "name": "sampler out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "2447196ebfeb6d69",
        "type": "function",
        "z": "fce55c80ba409b3d",
        "name": "downsample",
        "func": "/** rework so it operates on all fields in the payload */\n\nfunction toFix(num, precision)\n{\n    return (Math.trunc(num * (10 ** precision)))/ (10 ** precision) ;\n}\n\nconst isSet = (o, prop) => Object.hasOwn(o,prop) ? o[prop] : false\n\nconst store0 = {\n    payload: 0.0,\n    lastPayload : 0.0, \n    avg : 0.0,\n    lastAvg : 0.0,\n    numSamples: 0,\n    beginTransition: true\n}\n\nfunction deliver(msg)\n{\n    let store = context.get(msg.topic) || store0 ;\n    if ((msg.writeThrough == false) && (store.payload == msg.payload))\n        return null ;\n                    // red : digest, yellow : update, green : writeThrough    \n\n    let colour = msg.writeThrough ? 'green' : 'yellow' ;    \n    node.status({ fill: colour, shape: \"dot\", text: `${msg.topic} ${store.payload}=>${msg.payload}`});\n    store.payload = msg.payload ;\n    context.set(msg.topic, msg);  \n    return msg ;  \n}\n// ver 1.0 checked 22-09-2024\n\nfunction digest(msg) {\n\n    if (msg.reportOnDiff === undefined)\n        msg.reportOnDiff = 1 ; \n    if (msg.windowSize === undefined)\n        msg.windowSize = 10 ;   // arbitrary number\n\n    let store = context.get(msg.topic);\n    if (store === undefined)\n        store = store0;\n\n    const beginTransition = store.beginTransition;\n    store.beginTransition = false;\n\n    const valueDiff = store.numSamples ? Math.abs(msg.payload - store.lastAvg) : 0.0;\n    const percentageDiff = store.numSamples ? (msg.payload - store.lastAvg) * 100 * 2 / (msg.payload + store.lastAvg) : 0.0;\n\n    const endTransition = msg.writeThrough\n                || (valueDiff >= msg.reportOnDiff) \n                || (store.numSamples + 1 >= msg.windowSize);  // write every maxGap  \n    const outputAvg = beginTransition || endTransition;\n\n    store.payload = msg.lastPayload = msg.payload;\n    store.avg = (store.avg * store.numSamples + msg.payload) / (store.numSamples + 1);   // correct? \n    store.avg = toFix(store.avg, 2);\n    store.numSamples += 1;\n    msg.numSamples = store.numSamples;\n\n    if (isSet(msg,'track') || endTransition) \n    {\n        const colour = msg.endTransition ? 'red' : 'yellow'\n        node.status({ fill: colour, shape: \"dot\", text: `${msg.topic} ${msg.payload}  avg:${store.avg} num:${store.numSamples} `});\n    }\n    /*\n    node.log(`${msg.topic} ${msg.lastPayload} avg: ${store.avg.toFixed(2)}, `\n        + `diff% ${percentageDiff}% diff:${valueDiff} numSamples:${msg.numSamples} `\n        + `bt ${beginTransition} et ${ endTransition }`);\n    */\n    if (outputAvg) {\n        msg.payload = store.avg;\n        store.numSamples = 0;\n        if (endTransition)\n        {\n            store.lastAvg = store.avg;\n            store.beginTransition = true;\n        }\n    }\n\n    context.set(msg.topic, store);\n    return outputAvg ? msg : null;\n}\n\nconst m = msg.digest ?  digest(msg) : deliver(msg);\n\nreturn [[m], [m && isSet(m,'track') ? m : null] ]",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 500,
        "wires": [
            [
                "b71d646d0524d860",
                "2384d6ea06ea6969",
                "4db6202e94cea612",
                "7e810e9aa6aab8ad"
            ],
            [
                "9a936887b0d2ee97"
            ]
        ]
    },
    {
        "id": "2384d6ea06ea6969",
        "type": "link out",
        "z": "fce55c80ba409b3d",
        "name": "downsampler out",
        "mode": "link",
        "links": [
            "05fd8e378b5f7d83",
            "6e4f4737d3d2738b",
            "00c4ccd08c5fc11a",
            "4557c30c95706d62",
            "f2e5754610a2a6d1"
        ],
        "x": 575,
        "y": 620,
        "wires": []
    },
    {
        "id": "8b799875a8ef011e",
        "type": "link in",
        "z": "fce55c80ba409b3d",
        "name": "MQTT both",
        "links": [
            "f07bdf58f4238213",
            "90da587f91c535d6"
        ],
        "x": 265,
        "y": 280,
        "wires": [
            [
                "b71d646d0524d860",
                "06aca66c9580d0d3"
            ]
        ]
    },
    {
        "id": "7b7a4dd23fba8082",
        "type": "link out",
        "z": "fce55c80ba409b3d",
        "name": "MQTT to app",
        "mode": "link",
        "links": [
            "3d273fe27e049b65"
        ],
        "x": 445,
        "y": 100,
        "wires": []
    },
    {
        "id": "a2eff66e24c128f6",
        "type": "link in",
        "z": "fce55c80ba409b3d",
        "name": "serialised sensors",
        "links": [
            "f28841e54458294f"
        ],
        "x": 75,
        "y": 420,
        "wires": [
            [
                "e5c04e4bbe660ab9"
            ]
        ]
    },
    {
        "id": "11cd67874a91f2ba",
        "type": "debug",
        "z": "fce55c80ba409b3d",
        "name": "sampler in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 600,
        "wires": []
    },
    {
        "id": "f15ca2197c7843a7",
        "type": "function",
        "z": "fce55c80ba409b3d",
        "name": "utils",
        "func": "// look in the setup tab\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nconst utils =\n{\n    square:((a) =>  a * a),\n\n    getHHMM: ((millis) => \n    {\n        const d = new Date(millis)\n        return d.toTimeString().substring(0, 5)\n    }),\n\n\n    getTimeNow : (() =>\n    {\n        return utils.getHHMM(Date.now)\n    }),\n\n    sensorsThatHaveTimedOut: (sensorsKnown, instruments, minutes, timeNow) => \n    {\n        const isTimedOut = ((name) => instruments[name + '/temperature'].timestamp\n            + minutes * 60 * 1000 < timeNow)\n\n        const sensorsActive = Object.keys(instruments)\n            .filter((s) => s.split('/')[1] == 'temperature')\n            .map((s) => s.split('/')[0])\n\n        const sensorsOffline = sensorsKnown\n            .filter((name) => !sensorsActive.includes(name))\n\n        const timedOut = sensorsActive\n            .filter((name) => sensorsActive.includes(name))\n            .filter((name) => isTimedOut(name))\n            .map((name) => name + ':'\n                + utils.getHHMM(instruments[name + '/temperature'].timestamp ?? 0))\n\n        const sensorsOnline = sensorsActive\n            .filter((name) => (!isTimedOut(name)))\n\n        return { online: sensorsOnline, timedout: timedOut, offline: sensorsOffline }\n    }\n\n}\nglobal.set(\"utils\", utils)",
        "finalize": "",
        "libs": [],
        "x": 70,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9a936887b0d2ee97",
        "type": "debug",
        "z": "fce55c80ba409b3d",
        "name": "tracked",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 660,
        "wires": []
    },
    {
        "id": "e214bc4b98b2be8f",
        "type": "link out",
        "z": "fce55c80ba409b3d",
        "name": "MQTT to pid",
        "mode": "link",
        "links": [
            "1ed268d33495501b",
            "a5b0229895915912"
        ],
        "x": 445,
        "y": 140,
        "wires": []
    },
    {
        "id": "c6fd0ae9641d7484",
        "type": "function",
        "z": "fce55c80ba409b3d",
        "name": "heat exchange in",
        "func": "// set source, location and topic \n\nlet pos = msg.topic.indexOf('/') ;\n\n// msg.topic remains unchanged\nmsg.source = msg.topic.substring(0,pos);\nmsg.location = msg.topic.substring(pos+1);\nmsg.measurement = 'temperature'\n\n// copying ashp configuration\n\n//msg.reportOnDiff = 1\n\n//msg.digest = (msg.writeThrough == false) && (m.reportOnDiff != 0)  \n//node.error('digest ' + m.digest)\n\nmsg.writeThrough = true  \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 340,
        "wires": [
            [
                "2447196ebfeb6d69"
            ]
        ]
    },
    {
        "id": "2d28df211ec8ace4",
        "type": "function",
        "z": "a39c97029f2c005f",
        "name": "response general",
        "func": "\nconst timeNow = Date.now()\nconst config = global.get(\"site-config\");\nconst instruments = global.get('instrumentation')\n\nfunction getHHMM(millis) {\n  const d = new Date(millis)\n  return d.toTimeString().substring(0, 5)\n}\n\n// should allow a list of sensors to be supplied rather \n// getting them from config\n\n\nfunction sensorsThatHaveTimedout(config, instruments, minutes) \n{\n  const isTimedOut = ((name) => instruments[name + '/temperature'].timestamp \n                        + minutes * 60 * 1000 < timeNow)\n\n  const sensorsKnown = Object.keys(config['sensorMap'])\n\n  const sensorsActive = Object.keys(instruments)\n    .filter((s) => s.split('/')[1] == 'temperature') \n    .map((s) => s.split('/')[0])\n\n  const sensorsOffline = sensorsKnown\n      .filter((name) => !sensorsActive.includes(name))\n\n  const timedOut = sensorsActive\n      .filter((name) => sensorsActive.includes(name))\n      .filter((name) => isTimedOut(name))\n      .map((name) => name + ':'    \n       + getHHMM(instruments[name + '/temperature'].timestamp ?? 0))\n\n  const sensorsOnline = sensorsActive   \n      .filter((name) => (!isTimedOut(name)))\n      \n  return { online : sensorsOnline, timedout : timedOut, offline : sensorsOffline }\n}                       \n\nfunction handleRequest()\n{\n  msg.topic = msg.topic.replace('request', 'response');\n\n  let tokens = msg.topic.split('/') ;\n  let topic =  tokens[tokens.length - 1]  ?? \"\"\n  let sensor = tokens[tokens.length - 2]  ?? \"\"\n\n  //node.error('ddd ' + topic)\n\n  switch(topic)\n  {\n    case 'siteConfig' :\n      msg.payload = config ;  \n      break \n\n    case 'online' :\n    case 'offline' :\n    case 'timedout' :\n      const res = sensorsThatHaveTimedout(config, instruments, 29) \n      msg.payload = res[topic] ?? 'topic'\n      break\n\n    case 'pid' :\n      msg.payload = global.get('pid') || {nothing: 'here'}\n      break\n  } \n  return msg \n}\nreturn handleRequest(msg)\n\n/*\nmsg.payload = JSON.stringify(config, undefined, 4);\nmsg.payload = `ffeferf<br>809f8f0ef0ef80ef\\n3rd line`\nlet msgs = [\n        { topic: 'tty' ,  payload : 'trte tetert'},\n        { topic: 'tty' ,  payload : '3r34r34r4'}\n]\nlet msg1 = RED.util.cloneMessage(msg)\nmsg1 = Object()\nmsg1.topic = 'dwdd'\nmsg1.payload = 'refreferf'\nmsgs = [\n        msg,\n        msg\n]\n\nreturn [msgs];\n*/",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n/*\nvar defaultSensorMap = {\n    s0: 'outside',\n    s1: '1stFloor-hallway',\n    s2: 'entrance-hallway',\n    s3: 'bedroom2',\n    s4: 'unmapped',\n    s5: 'unmapped',\n    s6: 'unmapped',        \n    s10: 'test-location'\n};\n\nflow.set(\"sensorMap\", defaultSensorMap);\n\nvar defaultSite = '40hg';\nflow.set(\"site\"     , defaultSite);\n*/",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "f07bdf58f4238213",
                "cc00546b6d89d585"
            ]
        ]
    },
    {
        "id": "b9659d5bd127c327",
        "type": "function",
        "z": "a39c97029f2c005f",
        "name": "response/IP",
        "func": "msg.topic = msg.topic.replace('request', 'response');\n// extract ip address from the results of a bash \n// ip command showing the interefaces.\nvar ifaceList = JSON.parse(msg.payload) ;\nmsg.measurement = 'health' ;\nvar ip = '?.?.?.?' ;\nfor (const [i, iface] of Object.entries(ifaceList))\n{\n    msg.payload = {\n\n        ip: iface.addr_info[0].local,\n        operstate: iface.operstate,\n        topic: msg.topic,\n        source: \"wyse2\", \n        location : null \n    };\n    if (iface.operstate == 'UP')\n        break ;\n}\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nreturn(null)",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n\nvar mout = {};\nmout.topic = 'cax/link';\nmout.payload = [{\n\n    operstate: 'DOWN'\n},\n{\n    topic: mout.topic,\n    source: \"cax/wyse0\"\n}];\nreturn mout;",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "f07bdf58f4238213"
            ]
        ]
    },
    {
        "id": "50733ff690d8c396",
        "type": "exec",
        "z": "a39c97029f2c005f",
        "command": "ip  -f inet -4 -json  address",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "request/IP",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "b9659d5bd127c327"
            ],
            [],
            []
        ]
    },
    {
        "id": "3576a0b9dd48029d",
        "type": "http request",
        "z": "a39c97029f2c005f",
        "name": "get weather",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/weather?q=London,uk&units=metric&APPID=02d6849de8880c4335b3a8b50c016843",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": true,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 60,
        "wires": [
            [
                "5329666e4bcd40e1"
            ]
        ]
    },
    {
        "id": "5329666e4bcd40e1",
        "type": "function",
        "z": "a39c97029f2c005f",
        "name": "weather sensor",
        "func": "msg.topic = 'weather';\nmsg.originalTopic = 'open/weather'\nmsg.prefix = 'local' ;\nmsg.payload = {\n    temperature: Number(msg.payload.main.temp),\n    humidity: Number(msg.payload.main.humidity),\n    windSpeed: Number(msg.payload.wind.speed),\n    windDirection: Number(msg.payload.wind.deg)\n};\n//node.warn(`topic ${msg.topic}, temperature ${msg.payload.temperature}`);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 60,
        "wires": [
            [
                "f28841e54458294f"
            ]
        ]
    },
    {
        "id": "73f3bd8747e9b9e9",
        "type": "link out",
        "z": "a39c97029f2c005f",
        "name": "bridge responses out",
        "mode": "link",
        "links": [
            "3ae42568f19fb87e",
            "95659a05514705b8"
        ],
        "x": 485,
        "y": 300,
        "wires": []
    },
    {
        "id": "a9eb5943c4a448fd",
        "type": "inject",
        "z": "a39c97029f2c005f",
        "name": "30 min weather",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "s0",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "3576a0b9dd48029d"
            ]
        ]
    },
    {
        "id": "9cb37ce3eb45e324",
        "type": "inject",
        "z": "a39c97029f2c005f",
        "name": "IP",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3000",
        "topic": "wakeup",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "50733ff690d8c396"
            ]
        ]
    },
    {
        "id": "a0072afbb111de1d",
        "type": "function",
        "z": "a39c97029f2c005f",
        "name": "msg fetch",
        "func": "\nconst instrumentation = global.get(\"instrumentation\") || {}\nlet ar = Object.values(instrumentation)\nnode.status({ fill: \"green\", shape: \"dot\", text: `fetched ${ar.length} items`});\nreturn [ar] ;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "c7515d6ac70f764e",
                "293ae4963a27a257"
            ]
        ]
    },
    {
        "id": "cdc2849e83ce87c7",
        "type": "switch",
        "z": "a39c97029f2c005f",
        "name": "app dispatch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "app\\/request\\/lae0\\/",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "app\\/request\\/ashp0\\/",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "app\\/request\\/pid0\\/",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "app\\/request\\/weather",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "app\\/request\\/IP",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "app\\/response\\/",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "app\\/request/networkmap",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "app\\/request/refresh",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "app\\/request/schedule\\/",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "app\\/request\\/",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 10,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "a2ff14d6d3cab8f1"
            ],
            [
                "99970d5033f5f26f"
            ],
            [
                "58d70b01b04781c8"
            ],
            [
                "3576a0b9dd48029d"
            ],
            [
                "50733ff690d8c396"
            ],
            [
                "73f3bd8747e9b9e9"
            ],
            [
                "0c1d94776d82f5d4"
            ],
            [
                "a0072afbb111de1d",
                "c7515d6ac70f764e",
                "bacb43412f50be7f",
                "58d70b01b04781c8"
            ],
            [
                "bacb43412f50be7f"
            ],
            [
                "2d28df211ec8ace4"
            ]
        ],
        "info": "the regex here \n\nhttps://regex101.com/r/wlRMWz/1"
    },
    {
        "id": "0c1d94776d82f5d4",
        "type": "link out",
        "z": "a39c97029f2c005f",
        "name": "app/request/networkmap",
        "mode": "link",
        "links": [
            "aa15016c69354ddd"
        ],
        "x": 705,
        "y": 400,
        "wires": []
    },
    {
        "id": "c7515d6ac70f764e",
        "type": "debug",
        "z": "a39c97029f2c005f",
        "name": "refresh request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "293ae4963a27a257",
        "type": "link out",
        "z": "a39c97029f2c005f",
        "name": "MQTT cloud",
        "mode": "link",
        "links": [
            "ae83978daa30c005"
        ],
        "x": 575,
        "y": 520,
        "wires": []
    },
    {
        "id": "bacb43412f50be7f",
        "type": "function",
        "z": "a39c97029f2c005f",
        "name": "scheduler",
        "func": "\nfunction addZero(i) {\n  if (i < 10) {i = \"0\" + i}\n  return i;\n}\n\nfunction getTimeNow()\n{\n  const d = new Date()\n  return d.toTimeString().substring(0, 5)\n}\n\nconst timeNow = getTimeNow()\nconst tokens = msg.topic.split(\"/\")\nconst command = tokens[tokens.length - 1]\n\nlet schedule = flow.get(\"schedule\") || { start: '00:00', stop: '23:59', unit: { status : null} }\n\n//node.error(`schedule ${schedule.start} ${schedule.stop} ${schedule.unit.status}`)\n\nlet timeChange = false ; \nlet response = null ; \nswitch (command) {\n    case 'start'  :\n        schedule.start = msg.payload \n        timeChange = true ; \n        break \n    case 'stop':\n        schedule.stop = msg.payload \n        timeChange = true ; \n        break \n    case 'refresh':    \n        timeChange = true ; \n        break ;\n} \n\n// text string comparison\nlet unitShouldBeOn = schedule.start < timeNow && timeNow < schedule.stop; \n\nif (timeChange)\n{\n  const mstart = {}\n  mstart.topic = `app/response/schedule/start`\n  mstart.payload = schedule.start ?? 'hh:mm' \n\n  const mstop = {}\n  mstop.topic = `app/response/schedule/stop`\n  mstop.payload = schedule.stop ?? 'hh:mm' \n\n  //const h = {}   // hours not used\n  //h.topic = `app/response/schedule/${command}/hour`\n  //h.payload = schedule[command].substring(0,2)\n\n  const s = {} \n  s.topic = 'app/response/schedule'\n  s.payload = `${timeNow}:  ${schedule.start} -> ${schedule.stop} unitShouldBeOn: ${unitShouldBeOn}`\n\n  response = [mstart,mstop,s]\n  node.status({fill:\"yellow\",shape:\"ring\",text:`${command} ${msg.payload}`});\n\n  node.error(s.payload);\n}\n\n\n\nlet control = null\nif (schedule && schedule.unit.status !== undefined &&  unitShouldBeOn == schedule.unit.status) {\n  // unit status is unchanged\n  control = null ;\n}\nelse {\n  control = {} \n  control.topic = 'PROTOCOL_CHIL_OCC'  // modbus register\n  control.payload = unitShouldBeOn ? 1 : 0;\n  control.writeThrough = true ;\n  schedule.unit = { status : unitShouldBeOn };\n  node.status({ fill: \"red\", shape: \"ring\", text: `${timeNow}: unitOn:${unitShouldBeOn}` });\n}\nif (response || control)\n  flow.set(\"schedule\", schedule)\n\nreturn [response ?? null, control ?? null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n//flow.set(\"schedule\", { start: '06:00', stop: '16:30', unit: {} })",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "b8d9de514450140a"
            ],
            [
                "207bd26d97d91d04"
            ]
        ]
    },
    {
        "id": "ee6878a5cca418a8",
        "type": "inject",
        "z": "a39c97029f2c005f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "bump",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "bacb43412f50be7f"
            ]
        ]
    },
    {
        "id": "99970d5033f5f26f",
        "type": "link out",
        "z": "a39c97029f2c005f",
        "name": "ASHP0",
        "mode": "link",
        "links": [
            "f61b76784c425ebd"
        ],
        "x": 575,
        "y": 580,
        "wires": []
    },
    {
        "id": "207bd26d97d91d04",
        "type": "debug",
        "z": "a39c97029f2c005f",
        "name": "control",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 680,
        "wires": []
    },
    {
        "id": "b8d9de514450140a",
        "type": "debug",
        "z": "a39c97029f2c005f",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 620,
        "wires": []
    },
    {
        "id": "3d273fe27e049b65",
        "type": "link in",
        "z": "a39c97029f2c005f",
        "name": "dispatch to app",
        "links": [
            "7b7a4dd23fba8082"
        ],
        "x": 65,
        "y": 360,
        "wires": [
            [
                "cdc2849e83ce87c7"
            ]
        ]
    },
    {
        "id": "f07bdf58f4238213",
        "type": "link out",
        "z": "a39c97029f2c005f",
        "name": "MQTT both",
        "mode": "link",
        "links": [
            "8b799875a8ef011e"
        ],
        "x": 695,
        "y": 300,
        "wires": []
    },
    {
        "id": "95191d0245230bea",
        "type": "debug",
        "z": "a39c97029f2c005f",
        "name": "data store",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 760,
        "wires": []
    },
    {
        "id": "46d23788ce3bdc8f",
        "type": "function",
        "z": "a39c97029f2c005f",
        "name": "store msg",
        "func": "\n\nconst instrumentation = global.get(\"instrumentation\") ?? {}\n\n// don't store items that are not objects \n\nif (typeof msg !== 'object') \n{\n    node.status({ fill: \"red\", shape: \"triange\", text: `rejecting ${msg.topic}, not an object` });\n    return null ;\n}\n\nif (msg.payload === undefined) \n{\n    node.status({ fill: \"red\", shape: \"triange\", text: `rejecting ${msg.topic}, no payload` });\n    return null ;\n}\nif (!Object.hasOwn(msg, 'timestamp') || !msg.timestamp) msg.timestamp = Date.now()\nif (!msg.timestamp) node.error(\"my error message \" +  msg.timestamp);\ninstrumentation[msg.topic] = msg;\nglobal.set(\"instrumentation\", instrumentation );\nnode.status({ fill: \"green\", shape: \"dot\", text: `stored ${Object.keys(instrumentation).length} items`}); \nlet m = {}\nm.topic = 'instrumentation'\nm.payload = instrumentation ;\nreturn m;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n// uncomment once if you need to clear store\n\n// flow.set(\"instrumentation\", {});",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 760,
        "wires": [
            [
                "95191d0245230bea"
            ]
        ]
    },
    {
        "id": "6e4f4737d3d2738b",
        "type": "link in",
        "z": "a39c97029f2c005f",
        "name": "data in",
        "links": [
            "2384d6ea06ea6969"
        ],
        "x": 175,
        "y": 760,
        "wires": [
            [
                "46d23788ce3bdc8f"
            ]
        ]
    },
    {
        "id": "95732ec3fceeeced",
        "type": "function",
        "z": "a39c97029f2c005f",
        "name": "clear sensor values",
        "func": "global.set(\"instrumentation\", {});\n//node.status({ fill: \"green\", shape: \"dot\", text: `instrumenation cleared`})\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "60b4266997bd589a",
        "type": "inject",
        "z": "a39c97029f2c005f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 680,
        "wires": [
            [
                "95732ec3fceeeced"
            ]
        ]
    },
    {
        "id": "f28841e54458294f",
        "type": "link out",
        "z": "a39c97029f2c005f",
        "name": "sensors",
        "mode": "link",
        "links": [
            "a2eff66e24c128f6"
        ],
        "x": 785,
        "y": 60,
        "wires": []
    },
    {
        "id": "9e57d76bb8e871d7",
        "type": "inject",
        "z": "a39c97029f2c005f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "24af47e7e1338dfa"
            ]
        ]
    },
    {
        "id": "24af47e7e1338dfa",
        "type": "function",
        "z": "a39c97029f2c005f",
        "name": "dump sensors",
        "func": "\nconst instrumentation = global.get(\"instrumentation\") ?? {}\nlet m = {}\nm.topic = 'instrumentation'\nm.payload = instrumentation ;\nreturn m;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [
                "eea14150cfa98bd1"
            ]
        ]
    },
    {
        "id": "eea14150cfa98bd1",
        "type": "debug",
        "z": "a39c97029f2c005f",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 860,
        "wires": []
    },
    {
        "id": "cc00546b6d89d585",
        "type": "debug",
        "z": "a39c97029f2c005f",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "3d650fe3327bf1fb",
        "type": "function",
        "z": "a39c97029f2c005f",
        "name": "function 1",
        "func": "\nconst utils = global.get('utils') ?? null \n\nmsg.payload = 9 \n\nmsg.payload = utils.square(8)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 960,
        "wires": [
            [
                "f7e820e803cf9db9"
            ]
        ]
    },
    {
        "id": "59ee9aae6d2816cc",
        "type": "inject",
        "z": "a39c97029f2c005f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 960,
        "wires": [
            [
                "3d650fe3327bf1fb"
            ]
        ]
    },
    {
        "id": "f7e820e803cf9db9",
        "type": "debug",
        "z": "a39c97029f2c005f",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 960,
        "wires": []
    },
    {
        "id": "a2ff14d6d3cab8f1",
        "type": "link out",
        "z": "a39c97029f2c005f",
        "name": "LAE0",
        "mode": "link",
        "links": [
            "067d0e710c60a2bf",
            "b27cee27b9d6f4b1"
        ],
        "x": 705,
        "y": 180,
        "wires": []
    },
    {
        "id": "5049733e750477f4",
        "type": "comment",
        "z": "a39c97029f2c005f",
        "name": "Note that the scheduler has been disconnected from ashp",
        "info": "",
        "x": 270,
        "y": 520,
        "wires": []
    },
    {
        "id": "58d70b01b04781c8",
        "type": "link out",
        "z": "a39c97029f2c005f",
        "name": "request/PID0",
        "mode": "link",
        "links": [
            "b27cee27b9d6f4b1"
        ],
        "x": 705,
        "y": 240,
        "wires": []
    },
    {
        "id": "e8b29f091693fa42",
        "type": "inject",
        "z": "d6d8802f46b4aa03",
        "name": "every 20 secs",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "writeThrough",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pollAll",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "f176f6507293d547"
            ]
        ]
    },
    {
        "id": "f176f6507293d547",
        "type": "function",
        "z": "d6d8802f46b4aa03",
        "name": "poll modbus",
        "func": "\n// specify explicit register using msg.topic else get them all\n\n\n// 01: Coils (FC=01)\n// 02: Discrete Inputs (FC=02)\nconst HR = 3 // Multiple Holding Registers (FC=03)\nconst IR = 4 // Input Registers (FC=04)\n// 05: Single Coil (FC=05)\n// 06: Single Holding Register (FC=06)\n// 0F: Multiple Coils (FC=15)\n// 10: Multiple Holding Registers (FC=16)\n\n\n// ver 1.0\nfunction lookupRegister(subTopic) {\n    const registers = global.get(\"modbus\");\n    for (const row of registers) {\n        if (row.Parameter == subTopic)\n            return row;\n    }\n    node.error('unable to parse ' + subTopic)\n    return null;\n}\n\n//msg.topic = 'sequence1';\n//flow.set('writeThrough', msg.writeThrough);  // but what's being saved? A: whether we want to flush\n//msg.payload = null;\n\n\nconst input =\n    [\n        { name: \"SETPOINT_hsp1\" },\n        { name: \"SETPOINT_hsp2\" },\n\n        { name: \"RESETCFG_hr_deg\" },\n        { name: \"RESETCFG_oat_hrfu\" },\n        { name: \"RESETCFG_oat_hrno\" },\n\n        { name: \"PROTOCOL_DEM_LIM\" }        \n    ];\n\nconst temperature =\n    [\n        { name: \"GENUNIT_SP\" },\n        { name: \"GENUNIT_CTRL_PNT\" },\n        { name: \"GENUNIT_CTRL_TYP\" },\n\n        { name: \"TEMP_EWT\", reportOnDiff: 1 },  // override the 0.25 \n        { name: \"TEMP_LWT\", reportOnDiff: 1 },  // override the 0.25 \n        { name: \"TEMP_OAT\" },\n    ];\n\nconst pressure =\n    [\n        { name: \"PRESSURE_PUMP_EWP\"  },\n        { name: \"PRESSURE_PUMP_LWP\"  },\n        { name: \"PUMPSTAT_WAT_FLOW\"  }\n    ];\n\nconst state =  \n    [\n        { name: \"UNIT_STATUS\" },\n        { name: \"PROTOCOL_CHIL_S_S\" },  //off on\n        { name: \"PROTOCOL_SP_SEL\" }, \n        { name: \"PROTOCOL_SP_OCC\" },\n        { name: \"PROTOCOL_CHIL_OCC\" },\n\n        { name: \"PUMPSTAT_PUMP_1\" },\n        { name: \"PUMPSTAT_PUMP_2\"},\n    ];\n\n const pump = \n    [   \n        { name: \"GENUNIT_CAP_T\" , reportOnDiff : 10 },   // 0% to 100%\n\n        { name: \"PUMPSTAT_VPMP_CMD\"},\n        { name: \"PUMPSTAT_CAPPOWER\", reportOnDiff : 2 },\n        { name: \"PUMPSTAT_WAT_FLOW\", reportOnDiff: 0.5  },        \n    ];\n\nconst alarm =\n    [\n        { name: \"UNIT_ALM\" },   \n        { name: \"ALARMRST_alarm_1c\" },\n        { name: \"ALARMRST_alarm_2c\" },\n        { name: \"ALARMRST_alarm_3c\" },\n        { name: \"ALARMRST_alarm_4c\" },\n        { name: \"ALARMRST_alarm_5c\" },\n    ];\n\n\n\nconst tokens = msg.topic.split(/[\\/]/);\nconst subTopic = tokens === undefined ? msg.topic : tokens.at(-1);  \n\n\nlet regList         = { input: input, temperature: temperature, pressure: pressure, state: state, pump: pump, alarm: alarm};\nlet reportOnDiff    = {               temperature: 1.0,         pressure: 15 ,                    pump: 0.5 };\n\nlet sequences = [] ;\n\nconst fc = { HR : 3, IR : 4 }\n\nfor (const [measurement, group] of Object.entries(regList)) {    \n    for (const e of group) {\n        if (subTopic == 'pollAll' || subTopic == e.name)\n        {\n            const row = lookupRegister(e.name);\n            if (row)\n            {\n                const m = {} ;\n                m.prefix = 'local';\n                m.source = 'ashp0';\n                m.location = e.name;\n                m.topic = m.source + '/' + m.location;\n\n                // essential modbus characteristics\n                m.address = row.Address ;\n                m.measurement = measurement;\n                m.fc = fc[row.Type] ;\n                m.quantity = row['Reg. N'];\n                m.unitid = 1;\n\n\n                m.modbusRow = row ;\n                m.writeThrough = msg.writeThrough ;\n                \n                const groupReportOnDifference = reportOnDiff[measurement] === undefined ?\n                    0 : reportOnDiff[measurement]  \n\n                m.reportOnDiff = e.reportOnDiff === undefined ? \n                    groupReportOnDifference : e.reportOnDiff;                \n\n                m.digest = (msg.writeThrough == false) && (m.reportOnDiff != 0)  \n                //node.error('digest ' + m.digest)\n\n                m.windowSize = 3 * 30 ;  \n\n                //node.error(e)\n                // red : digest, yellow : update, green : writeThrough    \n\n                let colour = m.digest ? 'red': (m.writeThrough ? 'green' : 'yellow') ;\n                node.status({ fill: colour, shape: \"dot\", text: `name:${e.name}` });\n                sequences.push(m);\n            }\n        }\n    }\n}\n\n//msg.sequences = Array.prototype.concat(temperatures, pressures)\n\nmsg.sequences = sequences;\nif (msg.sequences.length == 0)\n{\n    node.status({ fill: \"red\", shape: \"ring\", text: `Nothing sent ${msg.topic}` });\n    return null ;\n}\nif (msg.sequences.length > 1)\n{\n    node.status({ fill: \"green\", shape: \"ring\", text: `:${msg.sequences.length} registers requested` });\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n//const fs = require('fs');\n//const csv = require('csv-parser');\n\n/*\nconst filePath = 'AQUACIAT-Modbus.csv'; // Replace with your actual file path\n\nconst data = [];\n\nfs.createReadStream(filePath)\n    .pipe(csv())\n    .on('data', (row) => {\n        data.push(row);\n    })\n    .on('end', () => {\n        console.log('CSV data parsed successfully!');\n        context.put('aquaciat', data);\n        node.status({ fill: \"green\", shape: \"dot\", text: `CSV file loaded` });\n\n\n    })\n    .on('error', (err) => {\n        console.error('Error parsing CSV:', err);\n    });\n\n*/",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "3bdc23fc1f16c1bb"
            ]
        ]
    },
    {
        "id": "fd7087714f1e7e46",
        "type": "modbus-flex-connector",
        "z": "d6d8802f46b4aa03",
        "name": "ASHP-connector",
        "maxReconnectsPerMinute": 4,
        "emptyQueue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "server": "c6b56e0744603b80",
        "x": 550,
        "y": 260,
        "wires": [
            [
                "a78a112a810b69ea"
            ]
        ]
    },
    {
        "id": "3bdc23fc1f16c1bb",
        "type": "modbus-flex-sequencer",
        "z": "d6d8802f46b4aa03",
        "name": "ASHP-read",
        "sequences": [
            {
                "name": "sequence0",
                "unitid": "1",
                "fc": "FC1",
                "address": "0",
                "quantity": "1"
            }
        ],
        "server": "c6b56e0744603b80",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "a78a112a810b69ea"
            ],
            [
                "6dbcbc44b8105773"
            ]
        ]
    },
    {
        "id": "a78a112a810b69ea",
        "type": "debug",
        "z": "d6d8802f46b4aa03",
        "name": "raw modbus",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "bb16735a0cac5286",
        "type": "debug",
        "z": "d6d8802f46b4aa03",
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 460,
        "wires": []
    },
    {
        "id": "298f4d77b929e02a",
        "type": "link out",
        "z": "d6d8802f46b4aa03",
        "name": "sensors",
        "mode": "link",
        "links": [
            "3a0b7c61797ade28"
        ],
        "x": 755,
        "y": 520,
        "wires": []
    },
    {
        "id": "6dbcbc44b8105773",
        "type": "function",
        "z": "d6d8802f46b4aa03",
        "name": "number conversions",
        "func": "\n// float32lib.js  rev 1.0 22/09/2024\n\nfunction swapEndian(xb) {\n    return [xb[1], xb[0], xb[3], xb[2]]\n}\n\nfunction float32ToBytes(fl) {\n    const f32 = new Float32Array(1); f32[0] = fl;\n    const ui8 = new Uint8Array(f32.buffer);\n    return swapEndian((Array.from(ui8)));\n}\n\n// this still works on incoming data\n// float32ToBytes bytes = 15,219,64,73 getFloat32 = 3.14\n\nfunction bytesToFloat32(xb) {\n    const ui8 = Uint8Array.from((swapEndian(xb)));\n    //console.log(`ui8: ${ui8}  ui8.buffer ${ui8.buffer}`);\n    const fl = new Float32Array(ui8.buffer);\n    return Math.trunc(fl[0] * 100) / 100;\n}\n\n\nfunction bytesToUint32(xb) {\n    const ui8 = Uint8Array.from((swapEndian(xb)));\n    //console.log(`ui8: ${ui8}  ui8.buffer ${ui8.buffer}`);\n\n    var dataView = new DataView(ui8.buffer);\n    return dataView.getUint32(0, true); // false for big-endian\n}\n\n\nlet value = null ;\n\nswitch (msg.modbusRow['Display Mode'])\n{\n    case '32bits FLOAT' :\n        value = bytesToFloat32(msg.payload.buffer);\n        break ;\n\n    case '32bits UINT' :   \n        value = bytesToUint32(msg.payload.buffer);\n        value = msg.modbusRow['Max.'] == 1 ? value * 100 : value ; // boolean\n        break ;\n    \n    default : \n        node.status({ fill: \"red\", shape: \"dot\", text: `${msg.topic}:${msg.payload} unrecognised dm: ${msg.modbusRow['Display Mode']}`})\n        return null ;\n}\n\nmsg.units = msg.modbusRow['Unit']\nmsg.payload = value;\n\n// red : digest, yellow : update, green : writeThrough    \n\nlet colour = msg.digest ? 'red': (msg.writeThrough ? 'green' : 'yellow') ;\n\nnode.status({ fill: colour, shape: \"dot\", text: `${msg.topic}:${msg.payload}` });\nreturn msg  ;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "bb16735a0cac5286",
                "298f4d77b929e02a"
            ]
        ]
    },
    {
        "id": "e3f5b1582fd58943",
        "type": "modbus-flex-write",
        "z": "d6d8802f46b4aa03",
        "name": "ASHP-write",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "c6b56e0744603b80",
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 790,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "faf9c12a90fda8f1",
        "type": "function",
        "z": "d6d8802f46b4aa03",
        "name": "create modbus request",
        "func": "/*\nFunction node code example for single write:\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 0 , 'quantity': 1 } return msg ;\n\nFunction node code example for multiple write:\n\nmsg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 0 , 'quantity': 10 } return msg ;\n*/\n\n\nfunction swapEndian(xb) {\n    return [xb[1], xb[0], xb[3], xb[2]]\n}\n\nfunction float32ToBytes(fl) {\n    const f32 = new Float32Array(1); f32[0] = fl;\n    const ui8 = new Uint8Array(f32.buffer);\n    return swapEndian((Array.from(ui8)));\n}\n\nfunction uint32ToBytes(ui) {\n    const ui32 = new Uint32Array(1); ui32[0] = ui;\n    const ui8 = new Uint8Array(ui32.buffer);\n    return swapEndian((Array.from(ui8)));\n}\n\n\n\n// this still works on incoming data\n// float32ToBytes bytes = 15,219,64,73 getFloat32 = 3.14\n\nfunction bytesToFloat32(xb) {\n    const ui8 = Uint8Array.from((swapEndian(xb)));\n    const fl = new Float32Array(ui8.buffer);\n    return Math.trunc(fl[0] * 100) / 100;\n}\n\n/*\nconst f32val = msg.payload ;\nconst ba = float32ToBytes(f32val);\nconst f32check = bytesToFloat32(ba);\n\nif (f32check != f32val)\n{\n    node.error(`values ${f32val} ${f32check} do not match`)\n    return null ;\n}\n*/\n\nlet numericPayload = Number(msg.payload);\n\nlet ba = null ; \nswitch (msg.modbusRow['Display Mode']) \n{\n    case '32bits FLOAT':\n        ba = float32ToBytes(numericPayload);\n        break;\n\n    case '32bits UINT':\n        ba = uint32ToBytes(Math.round(numericPayload));\n        //value = msg.modbusRow['Max.'] == 1 ? value * 100 : value; // boolean\n        break;\n\n    default:\n        node.error(`${msg.topic}:${numericPayload} dm: ${msg['Display Mode']}`)\n        return null;\n}\n\nvar ui16 = [(ba[0] * 256 + ba[1]), (ba[2] * 256) + ba[3]] ;\n\nmsg.payload = { 'address': msg.address, value: ui16, 'fc': 16, 'unitid': 1,  'quantity': 2 };\n\nnode.status({ fill: \"yellow\", shape: \"dot\", text: `${msg.topic}  ${ui16}` });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "e3f5b1582fd58943",
                "13536d367730f4cf"
            ]
        ]
    },
    {
        "id": "ab26331b697a1a23",
        "type": "function",
        "z": "d6d8802f46b4aa03",
        "name": "map CIAT register",
        "func": "/**\n * \n */\n\n\n// ver 1.0\nfunction lookupRegister(topic)\n{\n    const tokens = topic.split(/[\\/]/);\n    const subTopic = tokens.at(-1);     \n\n    const registers = global.get(\"modbus\");\n    for (const row of registers)\n    {\n        if (row.Parameter == subTopic)\n            return row ;\n    }   \n    return null ;\n}\n\nconst row = lookupRegister(msg.topic)\nif (row)\n{   \n    msg.address = row.Address;\n    msg.writeThrough = true ;\n    msg.modbusRow = row ;\n    node.status({ fill: \"green\", shape: \"dot\", text: `${msg.topic} ${msg.address} ${msg.payload}` });\n    return msg  ;\n}\nelse\n{\n    node.status({ fill: \"red\", shape: \"dot\", text: `unmatched command: ${msg.topic}` });\n    return null ;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 40,
        "wires": [
            [
                "657e75936deb6112"
            ]
        ]
    },
    {
        "id": "0a78c00fb80d7ae9",
        "type": "debug",
        "z": "d6d8802f46b4aa03",
        "name": "power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "0b3d1bb1f851d520",
        "type": "delay",
        "z": "d6d8802f46b4aa03",
        "name": "refresh in 500ms",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "f176f6507293d547"
            ]
        ]
    },
    {
        "id": "ea336da82fe8e44a",
        "type": "inject",
        "z": "d6d8802f46b4aa03",
        "name": "set hsp1 to 45",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "writeThrough",
                "v": "True",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SETPOINT_hsp1",
        "payload": "45.0",
        "payloadType": "num",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "ab26331b697a1a23"
            ]
        ]
    },
    {
        "id": "b3d979820e956933",
        "type": "inject",
        "z": "d6d8802f46b4aa03",
        "name": "modbus writeThrough",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "writeThrough",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "pollAll",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "f176f6507293d547"
            ]
        ]
    },
    {
        "id": "68c8ab1782efcbe6",
        "type": "function",
        "z": "d6d8802f46b4aa03",
        "name": "power calculator",
        "func": "/** \n * calculate power flow from water temp difference and water flow \n */\n\n\nfunction calculatePower(writeThrough)\n{ \n    node.status({ fill: \"red\", shape: \"dot\", text: `${msg.topic}` });\n\n    const instrumentation = global.get(\"instrumentation\") || {}\n    instrumentation[msg.topic] = msg.payload;\n\n    const waterFlow = instrumentation[\"ashp0/PUMPSTAT_WAT_FLOW\"] ;\n    const ewt = instrumentation[\"ashp0/TEMP_EWT\"];\n    const lwt = instrumentation[\"ashp0/TEMP_LWT\"];\n    \n    if (waterFlow !== undefined && ewt !== undefined && lwt !== undefined)\n    {\n        let power = (lwt - ewt) * waterFlow * 4.2 ;\n        power = (Math.trunc(power * 100))/100 ; \n\n        instrumentation['ashp0/PUMPSTAT_CALC_POWER'] = power ;\n\n        global.set(\"instrumentation\", instrumentation);\n\n        msg = { \n                prefix: 'local',\n                topic: 'ashp0/PUMPSTAT_CALC_POWER', \n                source : 'ashp0', \n                location: 'PUMPSTAT_CALC_POWER', \n                measurement: 'pump',                \n                payload: power, \n                writeThrough : writeThrough,\n        }\n\n        node.status({ fill: \"green\", shape: \"dot\", text: `power: ${power}kW` });\n\n        return msg;\n    }\n    return null ;\n} \n\n\n\nswitch(msg.topic)\n{\n    case \"ashp0/PUMPSTAT_WAT_FLOW\" :\n    case \"ashp0/TEMP_EWT\" :\n    case \"ashp0/TEMP_LWT\":\n        return calculatePower(msg.writeThrough)\n    default :\n        return null ;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 420,
        "wires": [
            [
                "bb16735a0cac5286",
                "0a78c00fb80d7ae9"
            ]
        ]
    },
    {
        "id": "dcad49ce97d38715",
        "type": "file in",
        "z": "d6d8802f46b4aa03",
        "name": "read modbus file",
        "filename": "/mnt/dietpi_userdata/AQUACIAT-LD_ILD_150R-600R_Modbus.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "42ec723fea505d70"
            ]
        ]
    },
    {
        "id": "55bcf23565930b54",
        "type": "debug",
        "z": "d6d8802f46b4aa03",
        "name": "config",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "fa32f5503e51738d",
        "type": "function",
        "z": "d6d8802f46b4aa03",
        "name": "set modbus array",
        "func": "let registers = msg.payload;\nglobal.set(\"modbus\", registers);\nnode.log('Modbus config loaded for ' + registers);\nnode.error(registers);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 820,
        "wires": [
            [
                "55bcf23565930b54"
            ]
        ]
    },
    {
        "id": "dbb1e36af2878840",
        "type": "inject",
        "z": "d6d8802f46b4aa03",
        "name": "initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "dcad49ce97d38715"
            ]
        ]
    },
    {
        "id": "42ec723fea505d70",
        "type": "csv",
        "z": "d6d8802f46b4aa03",
        "name": "load CSV",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 500,
        "y": 740,
        "wires": [
            [
                "fa32f5503e51738d"
            ]
        ]
    },
    {
        "id": "dec62f1238d75d0e",
        "type": "inject",
        "z": "d6d8802f46b4aa03",
        "name": "chill occ on",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "writeThrough",
                "v": "True",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "PROTOCOL_CHIL_OCC",
        "payload": "1",
        "payloadType": "num",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "ab26331b697a1a23"
            ]
        ]
    },
    {
        "id": "be7a26c62fd75ed2",
        "type": "inject",
        "z": "d6d8802f46b4aa03",
        "name": "chill occ off",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "writeThrough",
                "v": "True",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "PROTOCOL_CHIL_OCC",
        "payload": "0",
        "payloadType": "num",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "ab26331b697a1a23"
            ]
        ]
    },
    {
        "id": "13536d367730f4cf",
        "type": "debug",
        "z": "d6d8802f46b4aa03",
        "name": "updates",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "f61b76784c425ebd",
        "type": "link in",
        "z": "d6d8802f46b4aa03",
        "name": "modbus in",
        "links": [
            "e21e2f5c25ffebce",
            "99970d5033f5f26f",
            "bbb9fa50e55242f2"
        ],
        "x": 135,
        "y": 20,
        "wires": [
            [
                "ab26331b697a1a23"
            ]
        ]
    },
    {
        "id": "609c45f169b15f43",
        "type": "function",
        "z": "d6d8802f46b4aa03",
        "name": "calculate ashp0/kWh",
        "func": "\n\n/**\n * This utils code is duplicated\n *\n * ver 1.0\n */\n\nfunction getHHMM(millis) \n{\n  const d = new Date(millis)\n  return d.toTimeString().substring(0, 5)\n}\n\nconst timeNow = Date.now()\n\nconst siteConfig = global.get('site-config') ?? {}\nconst instrumentation = global.get(\"instrumentation\") ?? {}\nconst history = flow.get(\"history\") ?? {}\n\nfunction zeroIntegral(key) \n{\n  //const entry = 'key' in history ? history[key] : { vt: 0, s: timeNow, e: 0, n: -1 }\n  const entry = history[key] ?? { vt: 0, s: timeNow, e: 0, n: -1 }\n\n  entry.s += entry.e    // move the start time to end of last period\n  entry.vt = 0          // zero the integral\n  entry.e  = 0\n  entry.n = 0           // need to be careful about initialising this\n  history[key] = entry\n}\n\nfunction integral(key, value) \n{\n  //const entry = 'key' in history ? history[key] : { vt: 0, s: timeNow, e: 0, n: -1 }\n  const entry = history[key] ?? { vt: 0, s: timeNow, e: 0, n: -1 }\n  // first value ignored, just using timestamp\n  const elapsed = timeNow - entry.s\n\n  entry.vt += value * (elapsed - entry.e)  // integral calculation\n  entry.v = value\n  entry.e = elapsed\n  entry.n += 1\n  history[key] = entry \n\n  const vth = entry.vt / (60 * 60 * 1000)\n\n  //const en = { v: value, vt: vt, s: entry.s, e: elapsed, n: entry.n + 1 }\n\n  const avg = elapsed ? entry.vt / elapsed : 0  // from the start\n\n  const elapsedSecs = Math.floor(elapsed / 1000)\n  if (true)\n    node.status({\n      fill: \"red\", shape: \"dot\",\n      text: `${key} s:${getHHMM(entry.s)} e:${elapsedSecs} :${entry.vt} avg:${avg.toFixed(2)} h:${vth.toFixed(2)}`\n    });\n  return avg\n}\n\n/**\n* @param {NodeMessage} msg\n*/\n\nfunction collectData(msg) {\n  const tokens = msg.topic.split(\"/\")\n  const sensorName = tokens[0]\n  const sensorProperty = tokens[1]\n\n  let m = null\n\n  if ([\"PUMPSTAT_CAPPOWER\", \"zeroCounters\"].includes(sensorProperty)) \n  {\n    switch (sensorProperty) {\n      case \"PUMPSTAT_CAPPOWER\":\n        //node.error('hhh II ' + msg.topic + \" \" + sensorProperty + \" \" + history['ashp0/today/kWh'] ?? 0)\n\n        let avg = integral(\"PUMPSTAT_CAPPOWER\", Number(msg.payload))\n        let elapsedHours = history[\"PUMPSTAT_CAPPOWER\"].e / (1000 * 3600)\n        let kWh = avg * elapsedHours\n        history['ashp0/today/kWh'] = kWh // save to move to yesterday\n        m = {\n          topic: `ashp0/today/kWh`,  // update on each kWh consumed\n          source: 'kWh',\n          location: 'building',\n          prefix : 'local',  \n          payload: Math.floor(kWh),\n          measurement: 'kWh',\n          digest: false,\n          track: true\n        }                // send update for each kWh\n        break\n\n      case \"zeroCounters\":\n\n        node.status({ fill: \"yellow\", shape: \"dot\", text: `midnight : counter reset` });\n\n        history['ashp0/yesterday/kWh'] = history['ashp0/today/kWh']\n        zeroIntegral(\"PUMPSTAT_CAPPOWER\")\n\n        m = {\n          topic: `ashp0/yesterday/kWh`,\n          source: 'kWh',\n          location: 'building',\n          prefix : 'local',   \n          payload: Math.floor(history['ashp0/yesterday/kWh']),\n          measurement: 'kWh',\n          digest: false,\n          track: true\n        }\n        break\n    }\n  }\n  return m\n}\n\n\nlet m = collectData(msg)\nflow.set(\"history\", history)\n//node.error(\"exiting dump history\" + JSON.stringify(history));\n\nreturn m\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"history\", null); ",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 600,
        "wires": [
            [
                "298f4d77b929e02a",
                "e772664fcac34660"
            ]
        ]
    },
    {
        "id": "4557c30c95706d62",
        "type": "link in",
        "z": "d6d8802f46b4aa03",
        "name": "link in 1",
        "links": [
            "2384d6ea06ea6969"
        ],
        "x": 145,
        "y": 620,
        "wires": [
            [
                "609c45f169b15f43"
            ]
        ]
    },
    {
        "id": "870589deb20f8277",
        "type": "inject",
        "z": "d6d8802f46b4aa03",
        "name": "5000 kW",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "digest",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "asph0/PUMPSTAT_CAPPOWER",
        "payload": "5000",
        "payloadType": "num",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "609c45f169b15f43"
            ]
        ]
    },
    {
        "id": "8f787230d433976a",
        "type": "inject",
        "z": "d6d8802f46b4aa03",
        "name": "midnight",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "history/zeroCounters",
        "payload": "false",
        "payloadType": "bool",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "609c45f169b15f43"
            ]
        ]
    },
    {
        "id": "e772664fcac34660",
        "type": "debug",
        "z": "d6d8802f46b4aa03",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "00c4ccd08c5fc11a",
        "type": "link in",
        "z": "ce7503bf65214c43",
        "name": "sensors in",
        "links": [
            "2384d6ea06ea6969"
        ],
        "x": 45,
        "y": 120,
        "wires": [
            [
                "72d9ab6243a048aa"
            ]
        ]
    },
    {
        "id": "4958cf804f325997",
        "type": "inject",
        "z": "ce7503bf65214c43",
        "name": "g3/temperature is 19.5",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "g3/temperature",
        "payload": "19.5",
        "payloadType": "num",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "72d9ab6243a048aa"
            ]
        ]
    },
    {
        "id": "57a65d7e6a100b88",
        "type": "link out",
        "z": "ce7503bf65214c43",
        "name": "to downsample",
        "mode": "link",
        "links": [
            "3a0b7c61797ade28"
        ],
        "x": 635,
        "y": 380,
        "wires": []
    },
    {
        "id": "854f216d34b3ed61",
        "type": "inject",
        "z": "ce7503bf65214c43",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1420,
        "wires": [
            [
                "bc7f5ca9b62258a3"
            ]
        ]
    },
    {
        "id": "bc7f5ca9b62258a3",
        "type": "function",
        "z": "ce7503bf65214c43",
        "name": "dump history",
        "func": "\nconst instrumentation = flow.get(\"history\") ?? {}\nlet m = {}\nm.topic = 'history'\nm.payload = instrumentation ;\nreturn m;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1420,
        "wires": [
            [
                "e6e57793c79cb473"
            ]
        ]
    },
    {
        "id": "e6e57793c79cb473",
        "type": "debug",
        "z": "ce7503bf65214c43",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1420,
        "wires": []
    },
    {
        "id": "52fa1064dec1e311",
        "type": "PID",
        "z": "ce7503bf65214c43",
        "name": "PID control",
        "setpoint": "19.5",
        "pb": "1.0",
        "ti": "99999",
        "td": 0,
        "integral_default": "0.33",
        "smooth_factor": 3,
        "max_interval": "1800",
        "enable": "1",
        "disabled_op": "1",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "8c621caee9ea19f2"
            ]
        ]
    },
    {
        "id": "72d9ab6243a048aa",
        "type": "function",
        "z": "ce7503bf65214c43",
        "name": "calculate b0",
        "func": "\n\n/**\n * This utils code is duplicated\n *\n * ver 1.0\n */\n\nconst timeNow = Date.now()\nconst siteConfig = global.get('site-config') ?? {}\nconst instrumentation = global.get(\"instrumentation\") ?? {}\n\nconst utils =\n{\n  getHHMM: ((millis) => {\n    const d = new Date(millis)\n    return d.toTimeString().substring(0, 5)\n  }),\n\n  sensorsThatHaveTimedOut: (sensorsKnown, instruments, minutes, timeNow) => {\n    const isTimedOut = ((name) => instruments[name + '/temperature'].timestamp\n      + minutes * 60 * 1000 < timeNow)\n\n    const sensorsActive = Object.keys(instruments)\n      .filter((s) => s.split('/')[1] == 'temperature')\n      .map((s) => s.split('/')[0])\n\n    const sensorsOffline = sensorsKnown\n      .filter((name) => !sensorsActive.includes(name))\n\n    const timedOut = sensorsActive\n      .filter((name) => sensorsActive.includes(name))\n      .filter((name) => isTimedOut(name))\n      .map((name) => name + ':'\n        + utils.getHHMM(instruments[name + '/temperature'].timestamp ?? 0))\n\n    const sensorsOnline = sensorsActive\n      .filter((name) => (!isTimedOut(name)))\n\n    const res = { online: sensorsOnline, timedout: timedOut, offline: sensorsOffline }\n    return res \n  }\n}\n\nconst sensorWeight =\n  [\n    { name: 'g3', weight: 2 },  // first floor corridor\n    { name: 'g4', weight: 1 },\n    { name: 'm0', weight: 1 },\n    { name: 'm3', weight: 1 },\n  ]\n\n\n// need to move this out to app node that calculate this\n\nfunction calculateBuildingTemperature(instruments, minsTimeout) \n{ \n  const sensorsKnown = Object.keys(siteConfig['sensorMap'])\n  // note messages are stored in instruments\n  // make instrument temperatures easier to access\n  const sensorTemp = ((name) => instruments[name + '/temperature'].payload)\n\n  const sensorsReport = utils.sensorsThatHaveTimedOut(sensorsKnown, instruments, minsTimeout, timeNow)\n\n  const sensors = sensorWeight\n    // filter the sensorWeight table so only online sensors included\n    .filter((w) => (sensorsReport['online'].includes(w.name)))\n    \n    // create new map of weighted temperatures\n    .map((e) => ({  name: e.name, \n                    t: sensorTemp(e.name), \n                    wt: sensorTemp(e.name) * e.weight, w: e.weight \n                }))\n    // filter out suspect values\n    //.filter((e) => 16 < e.t && e.t < 23 && e.t != 22)\n    \n  const sensorIDs = sensors.map((e) => e.name).join(\",\")\n\n  // calculate weighted average\n  const buildingTemperature = sensors.reduce((sum, e, idx) => (sum + e.wt), 0)\n    / sensors.reduce((sum, e, idx) => (sum + e.w), 0)\n\n  node.status({\n    fill: \"yellow\", shape: \"dot\",\n    text: `${utils.getHHMM(timeNow)} b0:${buildingTemperature.toFixed(2)} [${sensorIDs}]`\n  });\n  return buildingTemperature\n}\n\n/**\n* @param {NodeMessage} msg\n*/\n\nfunction processUpdates(msg) \n{\n  const tokens = msg.topic.split(\"/\")\n  const sensorName = tokens[0]\n  const sensorProperty = tokens[1]\n\n  let b0 = null\n  let setpoint1 = null \n  let setpoint2 = null \n\n  const sensorsSelected = sensorWeight.map((e) => e.name)\n  if (sensorsSelected.includes(sensorName)) \n    if (['temperature'].includes(sensorProperty)) \n  {\n    const bt = calculateBuildingTemperature(instrumentation, 31)\n\n    // create a virtual sensor \n    b0 = {\n      topic:        'b0/temperature',\n      source:       'b0',\n      location:     'building',\n      payload:      Math.round(100 * bt) / 100, // update on 0.01 increments\n      bt0:          Math.round(100 * bt) / 100, // update on 0.01 increments\n      measurement: 'temperature', // needed for influx\n      digest:       true,\n      prefix:       'local',      // pretend to be a sensor, albeit virtual, so influx stores\n      windowSize:   10,           // number of changes\n      track: true                 // update status text under node\n    }\n\n    /*\n    this is no longer required\n\n    // create a msg to update the ASHP setpoint \n    setpoint1 = {\n      topic:        'ashp0/SETPOINT_hsp1',\n      source:       'pid',\n      location:     'pid',\n      payload:      Math.round(100 * bt) / 100, // update on 0.01 increments\n      measurement: 'temperature', // needed for influx\n      writeThrough: false,\n      track: true                 // update status text under node\n    }\n\n    // create a msg to update the ASHP setpoint \n    setpoint2 = {\n      topic:        'ashp0/SETPOINT_hsp2',\n      source:       'pid',\n      location:     'pid',\n      payload:      Math.round(100 * bt) / 100, // update on 0.01 increments\n      measurement: 'temperature', // needed for influx\n      writeThrough: false,\n      track: true                 // update status text under node\n    } \n    */\n  }\n  return b0\n}\n\nconst msgs = processUpdates(msg)\n//node.error(\"exiting dump history\" + JSON.stringify(history));\nreturn msgs",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 120,
        "wires": [
            [
                "b513138d13eb5387",
                "57a65d7e6a100b88",
                "a35c3d2647a06049"
            ]
        ]
    },
    {
        "id": "b513138d13eb5387",
        "type": "debug",
        "z": "ce7503bf65214c43",
        "name": "b0",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "8c621caee9ea19f2",
        "type": "function",
        "z": "ce7503bf65214c43",
        "name": "set point",
        "func": "//really need to different handler functions for settings and ashp control\n\n\nconst utils =\n{\n  getHHMM: ((millis) => {\n    const d = new Date(millis)\n    return d.toTimeString().substring(0, 5)\n  }),\n  timeNow : (() => utils.getHHMM(Date.now()))\n}\n\nconst settings = context.get('pid') ??  { setpoint : 20.0, rangeLow : 32, maxFlow : 46, rangeHigh : 50 }\n\nconst twoDecPoint = (n) => (Math.round(n * 100) / 100)\n\nconst tokens = msg.topic.split(/[\\/]/);\nconst subTopic = tokens.at(-1);  \nlet waterSetPoint = null ;\n\nconst noticeOf = (settings, subTopic) => ({\n    topic:      'pid0/' + subTopic,\n    measurement: 'temperature',\n    payload:     settings[subTopic],\n    prefix:     'local'\n}) \n\n/* \n    every time we process an incoming message \n    just push out notices indicating what's going on\n*/\n\nconst ashpControl = [] \nconst notices = []\n\nswitch (msg.topic) {\n    case 'app/request/pid0/maxFlow' :\n    case 'app/request/pid0/rangeLow' :\n    case 'app/request/pid0/rangeHigh' :    \n        settings[subTopic] = parseInt(msg.payload) ;\n        context.set('pid', settings)\n        notices.push( noticeOf(settings, subTopic))       \n        node.status({\n            fill: \"blue\", shape: \"dot\",\n            text: `${utils.timeNow()} ${subTopic}:${settings[subTopic]}`\n        })\n        break ;\n        //return [null, null] ;\n \n    case 'app/request/refresh':\n        for (const [key, value] of Object.entries(settings)) \n            notices.push(noticeOf(settings, key))\n        break ;\n\n    case 'b0/temperature' :\n        waterSetPoint = settings.rangeLow + msg.payload * (settings.rangeHigh - settings.rangeLow)\n        waterSetPoint = twoDecPoint(Math.min(settings.maxFlow,  waterSetPoint))\n        break ;\n        \n    default :\n        node.error('unable to process ' + msg.topic)\n}\n\n\nif (waterSetPoint)\n{ \n    ashpControl.push({ \n        topic:      'ashp0/SETPOINT_hsp1',\n        measurement:'temperature',\n        payload:     waterSetPoint,\n        prefix:     'local',\n        track:       true               // update status text under node\n    });\n    ashpControl.push({ \n        topic:      'ashp0/SETPOINT_hsp2',\n        measurement:'temperature',\n        payload:     waterSetPoint,\n        prefix:     'local',\n        track:       true               // update status text under node\n    });\n\n    // push out setting information\n    notices.push( noticeOf(settings, 'setpoint'))\n    notices.push( noticeOf(settings, 'rangeLow'))\n    notices.push( noticeOf(settings, 'maxFlow'))\n    notices.push( noticeOf(settings, 'rangeHigh'))    \n\n    notices.push({ \n        topic:      'app/response/pid/log',\n        measurement: null,\n        payload:     `${utils.timeNow()} SP:${msg.setpoint} bt0:${msg.bt0} PID:${twoDecPoint(msg.payload)} L:${settings.rangeLow} F:${settings.maxFlow} H:${settings.rangeHigh} wat:${waterSetPoint}`,\n        prefix:     'local'\n    })\n    node.status({\n        fill: \"yellow\", shape: \"dot\",\n        text: `${utils.timeNow()} SETPOINT_hsp1:${waterSetPoint}`\n    })\n}\nreturn [ashpControl, notices]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "de40dbb8b3f9ae08",
                "bbb9fa50e55242f2"
            ],
            [
                "365d9ea51e2e979d",
                "90da587f91c535d6"
            ]
        ]
    },
    {
        "id": "365d9ea51e2e979d",
        "type": "debug",
        "z": "ce7503bf65214c43",
        "name": "log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "bbb9fa50e55242f2",
        "type": "link out",
        "z": "ce7503bf65214c43",
        "name": "ASHP modbus",
        "mode": "link",
        "links": [
            "f61b76784c425ebd"
        ],
        "x": 635,
        "y": 220,
        "wires": []
    },
    {
        "id": "a35c3d2647a06049",
        "type": "rate-limiter",
        "z": "ce7503bf65214c43",
        "delay_action": "ratelimit",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "drop_select": "drop",
        "addcurrentcount": true,
        "name": "limit 1 msgs in 15 mins",
        "outputs": "2",
        "buffer_size": "0",
        "buffer_drop": "buffer_drop_new",
        "emit_msg_2nd": true,
        "control_topic": "control",
        "version": 0.0018,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "e49adf55f3eac793",
                "52fa1064dec1e311"
            ],
            [
                "73f1db35034db281"
            ]
        ]
    },
    {
        "id": "e49adf55f3eac793",
        "type": "debug",
        "z": "ce7503bf65214c43",
        "name": "accepted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "73f1db35034db281",
        "type": "debug",
        "z": "ce7503bf65214c43",
        "name": "discarded",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "de40dbb8b3f9ae08",
        "type": "debug",
        "z": "ce7503bf65214c43",
        "name": "to modbus",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "a5b0229895915912",
        "type": "link in",
        "z": "ce7503bf65214c43",
        "name": "MQTT to pid",
        "links": [
            "e214bc4b98b2be8f"
        ],
        "x": 35,
        "y": 440,
        "wires": [
            [
                "9b93bc23d24fa2d6"
            ]
        ]
    },
    {
        "id": "9b93bc23d24fa2d6",
        "type": "function",
        "z": "ce7503bf65214c43",
        "name": "set pid param",
        "func": "\n// PID configuration, see https://flows.nodered.org/node/node-red-contrib-pid\n\nconst lastPid = global.get('pid') ??  {}\n\nconst tokens = msg.topic.split('/')\nconst param = tokens[tokens.length - 1]\nlet m = null \nlet control = null \n\nif (tokens[1] != 'request')\n{\n  node.error(\"Ignoring topic \" + msg.topic)\n  return null ;\n}\n\nswitch(param){\n\n  case 'setpoint' :\n  case 'prop_band' :\n  case 't_integral' :  \n  case 't_derivative' :  \n  {\n    //const pid = lastPid;\n    //pid[param] = msg.payload \n    //global.set('pid',pid)\n\n    // sending response in sensor style simple format\n    \n    m = {\n      source : 'pid',\n      location : 'pid' ,\n      topic :  'pid' + '/' + param,\n      payload : msg.payload, \n      measurement : 'control',\n      prefix : 'local',\n      writeThrough : true,\n      track : true,\n    }\n\n    control = \n    {\n      topic   : param,\n      payload : msg.payload\n    }\n\n    node.status({\n      fill: \"yellow\", shape: \"dot\",\n      text: `${param} = ${msg.payload}`\n    });\n  }\n}\nreturn [control, m] ;\n\n/*\nPID params\nprocess_value\nsetpoint\nprop_band\nt_integral\nt_derivative\nmax_interval\nsmooth_factor\n\n*/",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 440,
        "wires": [
            [
                "7776a37a56cad8e0",
                "52fa1064dec1e311"
            ],
            [
                "8d6a93397d35dafe",
                "57a65d7e6a100b88"
            ]
        ]
    },
    {
        "id": "7776a37a56cad8e0",
        "type": "debug",
        "z": "ce7503bf65214c43",
        "name": "PID control",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "8d6a93397d35dafe",
        "type": "debug",
        "z": "ce7503bf65214c43",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "90da587f91c535d6",
        "type": "link out",
        "z": "ce7503bf65214c43",
        "name": "to MQTT out",
        "mode": "link",
        "links": [
            "8b799875a8ef011e"
        ],
        "x": 635,
        "y": 340,
        "wires": []
    },
    {
        "id": "b27cee27b9d6f4b1",
        "type": "link in",
        "z": "ce7503bf65214c43",
        "name": "PID settings",
        "links": [
            "58d70b01b04781c8",
            "a2ff14d6d3cab8f1"
        ],
        "x": 45,
        "y": 180,
        "wires": [
            [
                "8c621caee9ea19f2"
            ]
        ]
    },
    {
        "id": "7b9cb685f876dcdb",
        "type": "comment",
        "z": "ce7503bf65214c43",
        "name": "PID not wired to ASHP",
        "info": "",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "036e2046bfd2657c",
        "type": "delay",
        "z": "78ad727ff3800ccd",
        "name": "refresh 1 sec",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "e664cefd2982f764"
            ]
        ]
    },
    {
        "id": "f2247fd3eb87a008",
        "type": "function",
        "z": "78ad727ff3800ccd",
        "name": "create modbus write",
        "func": "/*\nFunction node code example for single write:\n\nmsg.payload = { value: msg.payload, 'fc': 5, 'unitid': 1, 'address': 0 , 'quantity': 1 } return msg ;\n\nFunction node code example for multiple write:\n\nmsg.payload = { value: msg.payload, 'fc': 15, 'unitid': 1, 'address': 0 , 'quantity': 10 } return msg ;\n*/\n\nlet payload = msg.payload ; \nif (isFinite(payload))\n  payload = 10 * Number(payload);\n\nmsg.payload = { 'address': msg.address, value: payload, 'fc': 6, 'unitid': 1,  'quantity': 2 };\n\nnode.status({ fill: \"yellow\", shape: \"dot\", text: `${msg.topic}  ${payload}` });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "21ea63b8552935b4",
                "94620ca7e001976d"
            ]
        ]
    },
    {
        "id": "21ea63b8552935b4",
        "type": "modbus-flex-write",
        "z": "78ad727ff3800ccd",
        "name": "write AC1-27",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "8a3ca6b2c6028d5b",
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 690,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7a7bf0dbe5c3e9c8",
        "type": "modbus-flex-connector",
        "z": "78ad727ff3800ccd",
        "name": "AC1 27 connector",
        "maxReconnectsPerMinute": 4,
        "emptyQueue": false,
        "showStatusActivities": true,
        "showErrors": true,
        "server": "8a3ca6b2c6028d5b",
        "x": 470,
        "y": 440,
        "wires": [
            [
                "98d6879a13a2d3cf"
            ]
        ]
    },
    {
        "id": "94620ca7e001976d",
        "type": "debug",
        "z": "78ad727ff3800ccd",
        "name": "updates",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "98d6879a13a2d3cf",
        "type": "debug",
        "z": "78ad727ff3800ccd",
        "name": "raw modbus",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "297578f283368694",
        "type": "modbus-flex-sequencer",
        "z": "78ad727ff3800ccd",
        "name": "AC1 27 read",
        "sequences": [
            {
                "name": "sequence0",
                "unitid": "1",
                "fc": "FC3",
                "address": "0",
                "quantity": "1"
            }
        ],
        "server": "8a3ca6b2c6028d5b",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 450,
        "y": 500,
        "wires": [
            [
                "98d6879a13a2d3cf",
                "f19f15445d6a2cbf"
            ],
            []
        ]
    },
    {
        "id": "e664cefd2982f764",
        "type": "function",
        "z": "78ad727ff3800ccd",
        "name": "poll modbus",
        "func": "\n// this code is largely duplicated from ashp poll\n\n\n// ver 1.0\nfunction lookupRegister(subTopic) {\n    const registers = flow.get(\"modbusRegisters\");\n    for (const row of registers) {\n        if (row[\"Mnem.\"] == subTopic)\n            return row;\n    }\n    node.error('Unable to find register in map ' + subTopic)\n    return null;\n}\n\n//msg.topic = 'sequence1';\n//flow.set('writeThrough', msg.writeThrough);  // but what's being saved? A: whether we want to flush\n//msg.payload = null;\n\n\nconst input =\n    [\n        { name: \"1SP\" },\n        { name: \"2SP\" },       \n        { name: \"ALA\" },    // low temp alarm, used for testing       \n        { name: \"AHA\" },    // low temp alarm, used for testing               \n    ];\n\nconst temperature =\n    [\n        { name: \"PRO\",  reportOnDiff: 0.1 }  // override the 0.25 \n    ];\n\nconst state =  \n    [\n        { name: \"OUT\" }\n    ];\n\nconst alarm =\n    [\n        { name: \"AL0\" },\n        { name: \"AL1\" }\n    ];\n\n\nconst tokens = msg.topic.split(/[\\/]/);\nconst subTopic = tokens === undefined ? msg.topic : tokens.at(-1);  \n\nlet regList         = { input: input, temperature: temperature, state: state, alarm: alarm};\nlet reportOnDiff    = { temperature: 1.0 };\n\nlet sequences = [] ;\n\nconst fc = { HR : 3}\n\nfor (const [measurement, group] of Object.entries(regList)) {    \n    for (const e of group) {\n        if (subTopic == 'pollAll' || subTopic == e.name)\n        {\n            const row = lookupRegister(e.name);\n            if (row)\n            {\n                const m = {} ;\n                m.prefix = 'local';\n                m.source = 'lae0';\n                m.location = e.name;\n                m.topic = m.source + '/' + m.location;\n\n                // essential modbus characteristics\n                m.address = row.Address ;\n                m.measurement = measurement;\n                m.fc = fc['HR'] ;\n                m.quantity = 1 ;\n                m.unitid = 1;\n\n\n                m.modbusRow = row ;\n                m.writeThrough = msg.writeThrough ;\n                \n                const groupReportOnDifference = reportOnDiff[measurement] === undefined ?\n                    0 : reportOnDiff[measurement]  \n\n                m.reportOnDiff = e.reportOnDiff === undefined ? \n                    groupReportOnDifference : e.reportOnDiff;                \n\n                m.digest = (msg.writeThrough == false) && (m.reportOnDiff != 0)  \n                //node.error('digest ' + m.digest)\n\n                m.windowSize = 3 * 30 ;  \n\n                //node.error(e)\n                // red : digest, yellow : update, green : writeThrough    \n\n                let colour = m.digest ? 'red': (m.writeThrough ? 'green' : 'yellow') ;\n                node.status({ fill: colour, shape: \"dot\", text: `name:${e.name}` });\n                sequences.push(m);\n            }\n        }\n    }\n}\n\n//msg.sequences = Array.prototype.concat(temperatures, pressures)\n\nmsg.sequences = sequences;\nif (msg.sequences.length == 0)\n{\n    node.status({ fill: \"red\", shape: \"ring\", text: `Nothing sent ${msg.topic}` });\n    return null ;\n}\nif (msg.sequences.length > 1)\n{\n    node.status({ fill: \"green\", shape: \"ring\", text: `${msg.sequences.length} registers requested` });\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n//const fs = require('fs');\n//const csv = require('csv-parser');\n\n/*\nconst filePath = 'AQUACIAT-Modbus.csv'; // Replace with your actual file path\n\nconst data = [];\n\nfs.createReadStream(filePath)\n    .pipe(csv())\n    .on('data', (row) => {\n        data.push(row);\n    })\n    .on('end', () => {\n        console.log('CSV data parsed successfully!');\n        context.put('aquaciat', data);\n        node.status({ fill: \"green\", shape: \"dot\", text: `CSV file loaded` });\n\n\n    })\n    .on('error', (err) => {\n        console.error('Error parsing CSV:', err);\n    });\n\n*/",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 500,
        "wires": [
            [
                "297578f283368694"
            ]
        ]
    },
    {
        "id": "f19f15445d6a2cbf",
        "type": "function",
        "z": "78ad727ff3800ccd",
        "name": "number conversions",
        "func": "//\n// note that the load CSV node must be configured to NOT parse numbers \n// because default values like 40.0 must be preserved as this is used\n// to determine decimal points\n\nmsg.payload = msg.payload[0] \n\nconst m = /\\.[\\d]+$/.test(msg.modbusRow['Default value'])\nconst numberOfDecimals = m ? 1 : 0;\n\nRED.util.cloneMessage(msg);\n\nif (isFinite(msg.payload)) \n  msg.payload *= Math.pow(10, -numberOfDecimals);\n\nmsg.units = msg.modbusRow['Unit/Value']\n\n// red : digest, yellow : update, green : writeThrough    \n\nlet colour = msg.digest ? 'red': (msg.writeThrough ? 'green' : 'yellow') ;\n\nnode.status({ fill: colour, shape: \"dot\", \ntext: `${msg.topic}:${msg.payload} default:${msg.modbusRow['Default value']}` });\nreturn msg  ;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "f3dd344c36740256",
                "5d488e53c97b07ab"
            ]
        ]
    },
    {
        "id": "f3dd344c36740256",
        "type": "debug",
        "z": "78ad727ff3800ccd",
        "name": "payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "c438c8cab5ded2a4",
        "type": "function",
        "z": "78ad727ff3800ccd",
        "name": "map LAE register",
        "func": "/**\n * lookup address of LAE mneumonic\n */\n\n// ver 1.1\nfunction lookupRegister(topic) {\n\n    const tokens = topic.split(/[\\/]/);\n    const subTopic = tokens.at(-1);  \n    const registers = flow.get(\"modbusRegisters\");\n    for (const row of registers) {\n        if (row[\"Mnem.\"] == subTopic)\n            return row;\n    }\n    node.error('unable to parse ' + subTopic)\n    return null;\n}\n\n\nconst row = lookupRegister(msg.topic)\nif (row)\n{   \n    msg.address = row.Address;\n    msg.writeThrough = true ;\n    msg.modbusRow = row ;\n    node.status({ fill: \"green\", shape: \"dot\", text: `${msg.topic} ${msg.address} ${msg.payload}` });\n    return msg  ;\n}\nelse\n{\n    node.status({ fill: \"red\", shape: \"dot\", text: `unmatched command: ${msg.topic}` });\n    return null ;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 280,
        "wires": [
            [
                "036e2046bfd2657c",
                "f2247fd3eb87a008"
            ]
        ]
    },
    {
        "id": "9a42b7c21189bcac",
        "type": "file in",
        "z": "78ad727ff3800ccd",
        "name": "read modbus file",
        "filename": "/mnt/dietpi_userdata/lae-ac1/lae-ac1-27.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "4e4de1bff793bf79"
            ]
        ]
    },
    {
        "id": "d019b6b3ca9e6bcd",
        "type": "debug",
        "z": "78ad727ff3800ccd",
        "name": "lae-modbus",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "a0f3a2340a3477a3",
        "type": "function",
        "z": "78ad727ff3800ccd",
        "name": "set modbus array",
        "func": "// todo, store scale as \n\nlet registers = msg.payload;\nconst flowVariable = \"modbusRegisters\"\nflow.set(flowVariable, registers);\nnode.log('Modbus config loaded for ' + registers);\nconst len = registers.length ;\nnode.status({ fill: \"green\", shape: \"dot\", text: `${len} items loaded from file into flow ${flowVariable}` });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "d019b6b3ca9e6bcd"
            ]
        ]
    },
    {
        "id": "375c1135c9263a11",
        "type": "inject",
        "z": "78ad727ff3800ccd",
        "name": "initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "9a42b7c21189bcac"
            ]
        ]
    },
    {
        "id": "4e4de1bff793bf79",
        "type": "csv",
        "z": "78ad727ff3800ccd",
        "name": "load CSV (no numbers)",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "a0f3a2340a3477a3"
            ]
        ]
    },
    {
        "id": "1c929b18596fe404",
        "type": "comment",
        "z": "78ad727ff3800ccd",
        "name": "ASHP GAS control switch - LAE1-27 in plant room",
        "info": "",
        "x": 270,
        "y": 220,
        "wires": []
    },
    {
        "id": "38ae1de7ad821a16",
        "type": "inject",
        "z": "78ad727ff3800ccd",
        "name": "every 20 secs",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "writeThrough",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "pollAll",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "e664cefd2982f764"
            ]
        ]
    },
    {
        "id": "5d488e53c97b07ab",
        "type": "link out",
        "z": "78ad727ff3800ccd",
        "name": "sensors",
        "mode": "link",
        "links": [
            "3a0b7c61797ade28"
        ],
        "x": 665,
        "y": 580,
        "wires": []
    },
    {
        "id": "067d0e710c60a2bf",
        "type": "link in",
        "z": "78ad727ff3800ccd",
        "name": "app/requests/lae0",
        "links": [
            "a2ff14d6d3cab8f1"
        ],
        "x": 95,
        "y": 280,
        "wires": [
            [
                "c438c8cab5ded2a4"
            ]
        ]
    },
    {
        "id": "4022c2129e11b456",
        "type": "switch",
        "z": "0b049155917211c7",
        "name": "bridge response",
        "property": "originalTopic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "local\\/bridge\\/response\\/networkmap.*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "local\\/bridge\\/response\\/.*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "a3d605b9ae5235a1",
                "2f07922ce4dbc1ad"
            ],
            [
                "155294f4c40197eb"
            ]
        ]
    },
    {
        "id": "f1b1556fc5209203",
        "type": "file",
        "z": "0b049155917211c7",
        "name": "deviceMap write",
        "filename": "/mnt/dietpi_userdata/map/devices.js",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 640,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "eba95f0550137e0d",
        "type": "debug",
        "z": "0b049155917211c7",
        "name": "unretain",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "155294f4c40197eb",
        "type": "debug",
        "z": "0b049155917211c7",
        "name": "bridge responses",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "a3d605b9ae5235a1",
        "type": "function",
        "z": "0b049155917211c7",
        "name": "extract map",
        "func": "\nmsg.visualtype = msg.payload.type ;\nmsg.payload = msg.payload.data.value ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "f1b1556fc5209203",
                "bcc835aea255e98e"
            ]
        ]
    },
    {
        "id": "6d9def6dbe8948e8",
        "type": "function",
        "z": "0b049155917211c7",
        "name": "retain = false",
        "func": "msg.payload = {};\nif (msg.retain) \n{\n    msg.retain = false ;\n    return msg;\n}\nelse\n    return null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 160,
        "wires": [
            [
                "eba95f0550137e0d"
            ]
        ]
    },
    {
        "id": "547b95c8141f6712",
        "type": "inject",
        "z": "0b049155917211c7",
        "name": "retrieve map",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "7bc3703dda5645a6"
            ]
        ]
    },
    {
        "id": "7bc3703dda5645a6",
        "type": "file in",
        "z": "0b049155917211c7",
        "name": "deviceMap read",
        "filename": "/mnt/dietpi_userdata/map/devices.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 580,
        "wires": [
            [
                "6f3c72f220a6ab5e"
            ]
        ]
    },
    {
        "id": "6f3c72f220a6ab5e",
        "type": "json",
        "z": "0b049155917211c7",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "bcc835aea255e98e"
            ]
        ]
    },
    {
        "id": "bcc835aea255e98e",
        "type": "function",
        "z": "0b049155917211c7",
        "name": "app/response/networkMap",
        "func": "msg.topic = msg.topic.replace('bridge', 'app');\nmsg.topic = msg.topic.replace('request', 'response');\nvar units = msg.payload.nodes;\nvar links = msg.payload.links;\n\nvar nodeMap = {} ;\nfor (let i in units)\n{\n    nodeMap[units[i]['ieeeAddr']] = units[i]['friendlyName'];    \n}\n\n\nvar out=[]; \nlet dict = {};\n\n//out.push({ topic : 'link', payload : links.length});\nfor (let i in links)\n{\n    var src = nodeMap[links[i].sourceIeeeAddr]\n    var tar = nodeMap[links[i].targetIeeeAddr ]\n    var linkText = links[i].lqi + \" \" + src + \" -> \" + tar ;\n    out.push(linkText)\n    //out.push({ topic : 'link', payload : linkText });\n    let key = src   ; // + \"->\" + tar ; \n    dict[key] = links[i] ;\n}\nmsg.payload = dict ;\nreturn(msg);\nreturn([dict]);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 500,
        "wires": [
            [
                "8b5e624bb5aaa19c",
                "8e6fb5fdc6f0bef1"
            ]
        ]
    },
    {
        "id": "95659a05514705b8",
        "type": "link in",
        "z": "0b049155917211c7",
        "name": "bridge/response",
        "links": [
            "20ef51730ad6d439",
            "73f3bd8747e9b9e9"
        ],
        "x": 45,
        "y": 160,
        "wires": [
            [
                "6d9def6dbe8948e8",
                "4022c2129e11b456"
            ]
        ]
    },
    {
        "id": "0a9719bd77581975",
        "type": "link out",
        "z": "0b049155917211c7",
        "name": "mosquitto out",
        "mode": "link",
        "links": [
            "b059487bc1ff0a2b"
        ],
        "x": 685,
        "y": 100,
        "wires": []
    },
    {
        "id": "aa15016c69354ddd",
        "type": "link in",
        "z": "0b049155917211c7",
        "name": "request/networkmap",
        "links": [
            "0c1d94776d82f5d4"
        ],
        "x": 45,
        "y": 100,
        "wires": [
            [
                "81a53326e4a74368"
            ]
        ]
    },
    {
        "id": "81a53326e4a74368",
        "type": "change",
        "z": "0b049155917211c7",
        "name": "request bridge network map in text",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "bridge/request/networkmap",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"type\":\"raw\",\"routes\":true}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "0a9719bd77581975"
            ]
        ]
    },
    {
        "id": "8b5e624bb5aaa19c",
        "type": "debug",
        "z": "0b049155917211c7",
        "name": "app response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "8e6fb5fdc6f0bef1",
        "type": "link out",
        "z": "0b049155917211c7",
        "name": "app responses",
        "mode": "link",
        "links": [
            "ae83978daa30c005"
        ],
        "x": 695,
        "y": 500,
        "wires": []
    },
    {
        "id": "d165bd02f725a40e",
        "type": "file in",
        "z": "0b049155917211c7",
        "name": "fetch stored map",
        "filename": "/mnt/dietpi_userdata/map/devices.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 630,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e2294f8d9643f00e",
        "type": "http in",
        "z": "0b049155917211c7",
        "name": "/map",
        "url": "/map",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "0b2e219aa1b54a31"
            ]
        ]
    },
    {
        "id": "0b2e219aa1b54a31",
        "type": "change",
        "z": "0b049155917211c7",
        "name": "request bridge network map in graphviz",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "bridge/request/networkmap",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"type\":\"graphviz\",\"routes\":true}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 40,
        "wires": [
            [
                "0a9719bd77581975",
                "2f07922ce4dbc1ad",
                "8e6fb5fdc6f0bef1",
                "5b55bedef897f381"
            ]
        ]
    },
    {
        "id": "f3fb4d2769b463fb",
        "type": "http response",
        "z": "0b049155917211c7",
        "name": "/map response",
        "statusCode": "",
        "headers": {},
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "a4df3453bc7ba8da",
        "type": "template",
        "z": "0b049155917211c7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!doctype html>\n<meta charset=\"utf8\">\n<script src=\"/static/viz-standalone.js\"></script>\n<script>\n  \n  let visual = `{{{payload.data.value}}}`;\n\n  Viz.instance().then(function(viz) {\n    document.body.appendChild(viz.renderSVGElement(visual));\n  });\n  \n</script>",
        "output": "str",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "f3fb4d2769b463fb"
            ]
        ]
    },
    {
        "id": "154f1ee8c4c69a62",
        "type": "debug",
        "z": "0b049155917211c7",
        "name": "bridge-debug2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 400,
        "wires": []
    },
    {
        "id": "55db0f5201cd5d76",
        "type": "function",
        "z": "0b049155917211c7",
        "name": "map handler",
        "func": "let queue = context.get('mapRequestQueue');\n\n// is this a response with a network map ? \nif (msg.topic == 'bridge/response/networkmap') {\n\n    if (msg.payload.data.type == 'graphviz'){\n        let payload = msg.payload ;\n\n// we're going to return the original message\n\n        msg = queue.shift();\n        if (msg == undefined)\n            return null ;\n        msg.payload = payload ;\n    }\n    else\n    {\n        node.error(\"no graphviz payload\", msg);\n        return null ;\n    }    \n} \nelse if (msg.topic == 'bridge/request/networkmap')\n{\n    if (msg.req && msg.res) {\n        queue.push(msg);\n    }\n    else\n    {\n        node.error(\"req or res not set\", msg);\n    }\n    return null ;\n}\nelse msg = null ;\n\ncontext.set('mapRequestQueue', queue);\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set('mapRequestQueue', []);",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 360,
        "wires": [
            [
                "a4df3453bc7ba8da"
            ]
        ]
    },
    {
        "id": "5b55bedef897f381",
        "type": "debug",
        "z": "0b049155917211c7",
        "name": "debug3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 720,
        "wires": []
    },
    {
        "id": "8a70386e56a28d02",
        "type": "inject",
        "z": "892c223a74ad0925",
        "name": "bridge health check",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "bridge/request/health_check",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "2b42a705743e033e"
            ]
        ]
    },
    {
        "id": "71fb77d41d8abc20",
        "type": "debug",
        "z": "892c223a74ad0925",
        "name": "requests queued",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "ac54334f6b9f55b8",
        "type": "inject",
        "z": "892c223a74ad0925",
        "name": "graphiz network map",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.type",
                "v": "graphviz",
                "vt": "str"
            },
            {
                "p": "payload.routes",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "bridge/request/networkmap",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "2b42a705743e033e"
            ]
        ]
    },
    {
        "id": "bf70a025a355e1da",
        "type": "inject",
        "z": "892c223a74ad0925",
        "name": "raw network map",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.type",
                "v": "raw",
                "vt": "str"
            },
            {
                "p": "payload.routes",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "bridge/request/networkmap",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "2b42a705743e033e"
            ]
        ]
    },
    {
        "id": "69cc50e848ca448c",
        "type": "inject",
        "z": "892c223a74ad0925",
        "name": "OTA update socket",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "bridge/request/device/ota_update/update",
        "payload": "socketXXX",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "2b42a705743e033e"
            ]
        ]
    },
    {
        "id": "7a6fc845733a5a89",
        "type": "function",
        "z": "892c223a74ad0925",
        "name": "retain = false",
        "func": "msg.payload = {};\nif (msg.retain) \n{\n    msg.retain = false ;  // looks wrong\n    return msg;\n}\nelse\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 80,
        "wires": [
            [
                "a91a2376ace8413b"
            ]
        ]
    },
    {
        "id": "a91a2376ace8413b",
        "type": "debug",
        "z": "892c223a74ad0925",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "669ba67bd6ee4e50",
        "type": "serial in",
        "z": "892c223a74ad0925",
        "name": "energy-mon-in",
        "serial": "6db0e35f8056298a",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "83e3c80df21d0aae",
                "752b2f75aed1e5c8"
            ]
        ]
    },
    {
        "id": "752b2f75aed1e5c8",
        "type": "debug",
        "z": "892c223a74ad0925",
        "name": "serial out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "83e3c80df21d0aae",
        "type": "function",
        "z": "892c223a74ad0925",
        "name": "energyCalc",
        "func": "\n// to do : send second sample when energy changes\n\n// code improved at St Marks.\n\nconst samplesPerMinute = 15  ;\nconst kWhPeriod =   30 ;   // minutes\nlet maxGapMinutes = 30 ;   // number of minutes between samples. \n\nlet e0 = {\n    amps : 0.0,\n    numSamples : 0,\n    numOfAmpsSamples : 0, \n    sumOfAmpsSamples : 0.0,\n    kWh : 0.0, \n    begin : true\n}\n\nfunction ampsToKW(amps)\n{\n    return(Math.round(amps * 240) / 1000);    // watts to kW \n}\n\nfunction calculatePower(ampsNow) {\n    let e = context.get(\"energy\");\n    if (e === undefined)\n        e = e0;\n\n    //let kWh = null;\n\n    e.sumOfAmpsSamples += ampsNow;\n    e.numOfAmpsSamples += 1;\n    let windowSize = samplesPerMinute * kWhPeriod;\n    if (e.numOfAmpsSamples >= windowSize) {\n        e.kWh = ampsToKW(e.sumOfAmpsSamples / e.numOfAmpsSamples);\n        e.numOfAmpsSamples = 0;\n        e.sumOfAmpsSamples = 0.0;\n    }\n\n    let beginTransition = e.begin;\n    e.begin = false;\n\n    let ampsDiff = e.numSamples ? ampsNow - e.amps : 0.0;\n    let percentageDiff = e.numSamples ? (ampsNow - e.amps) * 100 * 2 / (e.amps + ampsNow) : 0.0;\n\n    let endTransition = (Math.abs(ampsDiff) > 4 || e.numSamples >= 15 * maxGapMinutes);  // write every maxGap  \n    let writeSample = beginTransition || endTransition;\n\n    //let writeSample = percentageDiff > 60;\n    let numSamples1 = e.numSamples;\n    let kW = null;\n\n    let ampsAvg = ((e.amps * e.numSamples) + ampsNow) / (e.numSamples + 1);   // correct? \n    e.amps = ampsAvg;    // store the new average\n    e.numSamples += 1;\n\n    if (writeSample) {\n        kW = ampsToKW(ampsAvg);\n        e.numSamples = 0;\n        e.amps = 0.0;\n\n        if (endTransition)\n            e.begin = true;\n    }\n    if (false)\n        node.warn(\"now \" + ampsNow + \" avg= \" + ampsAvg.toFixed(2) + \", \"\n            + percentageDiff.toFixed(0) + \"%,  amps diff= \" + ampsDiff.toFixed(2)\n            + \" numSamples \" + numSamples1 + \" kWh \" + e.kWh + \" sum \" + e.sumOfAmpsSamples);\n\n    context.set(\"energy\", e) ;\n\n    // push out the last calculation of kWh \n    return kW ? { 'kW': kW, 'kWh': e.kWh, 'numSamples': numSamples1 } : null;\n}\n\n\n// calculate simple moving average\n// https://en.wikipedia.org/wiki/Moving_average\n// it's got a horrible shift in it.\n\nfunction calculateSMA(lastPoint, dataPoints, windowSize) {\n    let dataEmpty = {\n        points: [],\n        sum: 0.0,\n        sma: 0.0\n    }\n    const sma = 0;\n    let data = context.get(dataPoints);\n    if (data === undefined)\n        data = dataEmpty;\n\n    // add last point and remove first point\n    let numPoints = data.points.push(lastPoint); // returns new length\n\n    //let lastSMA = data.sma;\n    if (numPoints <= windowSize) {\n        data.sum += lastPoint;\n        data.sma = data.sum / numPoints;\n    }\n    else {\n        const firstPoint = data.points.shift();\n        numPoints -= 1;\n        data.sma += ((lastPoint - firstPoint) / (numPoints))\n    }\n    context.set(dataPoints, data);\n    return data.sma ;\n}\n\n\nlet ampsNow = parseFloat(msg.payload);  // parse buffer~\nmsg.topic = 'ashp0/energy'\nmsg.payload = calculatePower(ampsNow);\n\nlet kW = ampsToKW(ampsNow);\nlet sma = calculateSMA(kW, 'datapoints', samplesPerMinute * 30)\nif (msg.payload) \n    msg.payload.sma = sma ; \n\nreturn msg.payload ? msg : null ; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "577231c552842134"
            ]
        ]
    },
    {
        "id": "e615ae11558e9741",
        "type": "file",
        "z": "892c223a74ad0925",
        "name": "WriteEnergy",
        "filename": "/mnt/dietpi_userdata/node-red/energy4.dat",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "577231c552842134",
        "type": "link out",
        "z": "892c223a74ad0925",
        "name": "energy out",
        "mode": "link",
        "links": [
            "b059487bc1ff0a2b"
        ],
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "d1f9d0cfa2f02706",
        "type": "rate-limiter",
        "z": "86219b48706129b6",
        "delay_action": "ratelimit",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "drop_select": "drop",
        "addcurrentcount": true,
        "name": "Rate limit b0 changes",
        "outputs": "2",
        "buffer_size": "0",
        "buffer_drop": "buffer_drop_new",
        "emit_msg_2nd": true,
        "control_topic": "control",
        "version": 0.0018,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "104859fc4b66d935"
            ],
            [
                "fd20688cd9f555cc"
            ]
        ]
    },
    {
        "id": "104859fc4b66d935",
        "type": "debug",
        "z": "86219b48706129b6",
        "name": "accepted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "fd20688cd9f555cc",
        "type": "debug",
        "z": "86219b48706129b6",
        "name": "dropped",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "bd0e4e49f98c1823",
        "type": "range",
        "z": "86219b48706129b6",
        "minin": "0",
        "maxin": "1",
        "minout": "35",
        "maxout": "50",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 280,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1ed268d33495501b",
        "type": "link in",
        "z": "86219b48706129b6",
        "name": "MQTT to pid",
        "links": [
            "e214bc4b98b2be8f"
        ],
        "x": 150,
        "y": 160,
        "wires": [
            [
                "7e0bc64031513b67"
            ]
        ]
    },
    {
        "id": "7e0bc64031513b67",
        "type": "function",
        "z": "86219b48706129b6",
        "name": "set pid param",
        "func": "\n// PID configuration, see https://flows.nodered.org/node/node-red-contrib-pid\n\nconst lastPid = global.get('pid') ??  {}\n\nconst tokens = msg.topic.split('/')\nconst param = tokens[tokens.length - 1]\nlet m = null \nlet control = null \n\nif (tokens[1] != 'request')\n{\n  node.error(\"Unexpected topic\" + msg.topic)\n  return null ;\n}\n\nswitch(param){\n\n  case 'setpoint' :\n  case 'prop_band' :\n  case 't_integral' :  \n  case 't_derivative' :  \n  {\n    const pid = lastPid;\n    pid[param] = msg.payload \n    global.set('pid',pid)\n\n    // sending response in sensor style simple format\n    \n    m = {\n      source : 'pid',\n      location : 'pid' ,\n      topic :  'pid' + '/' + param,\n      payload : msg.payload, \n      measurement : 'control',\n      prefix : 'local',\n      writeThrough : true,\n      track : true,\n    }\n\n    control = \n    {\n      topic   : param,\n      payload : msg.payload\n    }\n\n    node.status({\n      fill: \"yellow\", shape: \"dot\",\n      text: `${param} = ${msg.payload}`\n    });\n  }\n}\nreturn [control, m] ;\n\n/*\nprocess_value\nsetpoint\nprop_band\nt_integral\nt_derivative\nmax_interval\nsmooth_factor\n\n*/",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "2495c89b01bfa537",
                "e69e83d57dc5313e"
            ],
            [
                "60be5dc4f90691a6"
            ]
        ]
    },
    {
        "id": "e69e83d57dc5313e",
        "type": "debug",
        "z": "86219b48706129b6",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "2495c89b01bfa537",
        "type": "PID",
        "z": "86219b48706129b6",
        "name": "PID control",
        "setpoint": "20.89",
        "pb": "1.0",
        "ti": "99999",
        "td": 0,
        "integral_default": "0.33",
        "smooth_factor": 3,
        "max_interval": "1800",
        "enable": "1",
        "disabled_op": "1",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "63fc6f9a984c71e9"
            ]
        ]
    },
    {
        "id": "60be5dc4f90691a6",
        "type": "debug",
        "z": "86219b48706129b6",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "3f9109dc89c635f6",
        "type": "inject",
        "z": "86219b48706129b6",
        "name": "20.1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "abcd",
        "payload": "20.1",
        "payloadType": "num",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "2495c89b01bfa537"
            ]
        ]
    },
    {
        "id": "63fc6f9a984c71e9",
        "type": "debug",
        "z": "86219b48706129b6",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "6af0fc5ccc8a32f6",
        "type": "function",
        "z": "86219b48706129b6",
        "name": "downsample v2",
        "func": "/** rework so it operates on all fields in the payload */\n\nfunction toFix(num, precision)\n{\n    return (Math.trunc(num * (10 ** precision)))/ (10 ** precision) ;\n}\n\nconst isSet = (o, prop) => Object.hasOwn(o,prop) ? o[prop] : false\n\nconst store0 = {\n    payload: 0.0,\n    lastPayload : 0.0, \n    avg : 0.0,\n    lastAvg : 0.0,\n    numSamples: 0,\n    beginTransition: true\n}\n\nfunction deliver(msg)\n{\n    let store = context.get(msg.topic) ?? store0 ;\n    if ((msg.writeThrough == false) && (store.payload == msg.payload))\n        return null ;\n                    // red : digest, yellow : update, green : writeThrough    \n\n    let colour = msg.writeThrough ? 'green' : 'yellow' ;    \n    node.status({ fill: colour, shape: \"dot\", text: `${msg.topic} ${store.payload}=>${msg.payload}`});\n    store.payload = msg.payload ;\n    context.set(msg.topic, msg);  \n    return msg ;  \n}\n// ver 1.0 checked 22-09-2024\n\nfunction digest(msg) {\n\n    if (msg.reportOnDiff === undefined)\n        msg.reportOnDiff = 1 ; \n    if (msg.windowSize === undefined)\n        msg.windowSize = 10 ;   // arbitrary number\n\n    let store = context.get(msg.topic);\n    if (store === undefined)\n        store = store0;\n\n    const beginTransition = store.beginTransition;\n    store.beginTransition = false;\n\n    const valueDiff = store.numSamples ? Math.abs(msg.payload - store.lastAvg) : 0.0;\n    const percentageDiff = store.numSamples ? (msg.payload - store.lastAvg) * 100 * 2 / (msg.payload + store.lastAvg) : 0.0;\n\n    const endTransition = msg.writeThrough\n                || (valueDiff >= msg.reportOnDiff) \n                || (store.numSamples + 1 >= msg.windowSize);  // write every maxGap  \n    const outputAvg = beginTransition || endTransition;\n\n    store.payload = msg.lastPayload = msg.payload;\n    store.avg = (store.avg * store.numSamples + msg.payload) / (store.numSamples + 1);   // correct? \n    store.avg = toFix(store.avg, 2);\n    store.numSamples += 1;\n    msg.numSamples = store.numSamples;\n\n    if (isSet(msg,'track') || endTransition) \n    {\n        const colour = msg.endTransition ? 'red' : 'yellow'\n        node.status({ fill: colour, shape: \"dot\", text: `${msg.topic} ${msg.payload}  avg:${store.avg} num:${store.numSamples} `});\n    }\n    /*\n    node.log(`${msg.topic} ${msg.lastPayload} avg: ${store.avg.toFixed(2)}, `\n        + `diff% ${percentageDiff}% diff:${valueDiff} numSamples:${msg.numSamples} `\n        + `bt ${beginTransition} et ${ endTransition }`);\n    */\n    if (outputAvg) {\n        msg.payload = store.avg;\n        store.numSamples = 0;\n        if (endTransition)\n        {\n            store.lastAvg = store.avg;\n            store.beginTransition = true;\n        }\n    }\n\n    context.set(msg.topic, store);\n    return outputAvg ? msg : null;\n}\n\nconst m = msg.digest ?  digest(msg) : deliver(msg);\n\nreturn [[m], [m && isSet(m,'track') ? m : null] ]",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "b3ee2ca7d3d2bf4e"
            ],
            [
                "28afb16647f468cd"
            ]
        ]
    },
    {
        "id": "b3ee2ca7d3d2bf4e",
        "type": "debug",
        "z": "86219b48706129b6",
        "name": "out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 500,
        "wires": []
    },
    {
        "id": "28afb16647f468cd",
        "type": "debug",
        "z": "86219b48706129b6",
        "name": "track",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "1b86e66ebe330132",
        "type": "inject",
        "z": "86219b48706129b6",
        "name": "random 20 to 21",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "digest",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "track",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "abcef",
        "payload": "$random() + 20",
        "payloadType": "jsonata",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "6af0fc5ccc8a32f6",
                "d1f9d0cfa2f02706"
            ]
        ]
    },
    {
        "id": "ac075186043fd8e6",
        "type": "ui-gauge",
        "z": "3187bd06ef664359",
        "name": "temperature building",
        "group": "08c18c121b60a93e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "building",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "19",
                "color": "#003e80"
            },
            {
                "from": "21",
                "color": "#ffc800"
            },
            {
                "from": "23",
                "color": "#ea5353"
            }
        ],
        "min": "19",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "f2e5754610a2a6d1",
        "type": "link in",
        "z": "3187bd06ef664359",
        "name": "link in 2",
        "links": [
            "2384d6ea06ea6969"
        ],
        "x": 65,
        "y": 240,
        "wires": [
            [
                "017e78d0ae7d3bbe",
                "aa3572b743cf326b"
            ]
        ]
    },
    {
        "id": "87d4e3e4d7a5bb49",
        "type": "ui-slider",
        "z": "3187bd06ef664359",
        "group": "7d2a07e2b30dad87",
        "name": "",
        "label": "building temperature",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 280,
        "y": 560,
        "wires": [
            [
                "56f3f5a9aeaab21b"
            ]
        ]
    },
    {
        "id": "9bfc50e58ff45907",
        "type": "switch",
        "z": "3187bd06ef664359",
        "name": "gaugeSelect",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "b0\\/temperature",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "g3\\/temperature",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "g4\\/temperature",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "g5\\/temperature",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "g6\\/temperature",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "m0\\/temperature",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "m3\\/temperature",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "m11\\/temperature",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "t1\\/temperature",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "ac075186043fd8e6"
            ],
            [
                "78465481ba766fc9"
            ],
            [
                "c1e44963ee6927d1"
            ],
            [
                "fbaab694d0b26d0a"
            ],
            [
                "92a757d291f30334"
            ],
            [
                "0c465115462ee616"
            ],
            [
                "a0073978385a0650"
            ],
            [
                "5b75194f933d58c9"
            ],
            [
                "eaa360067a8e68b6"
            ]
        ]
    },
    {
        "id": "017e78d0ae7d3bbe",
        "type": "debug",
        "z": "3187bd06ef664359",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 460,
        "wires": []
    },
    {
        "id": "78465481ba766fc9",
        "type": "ui-gauge",
        "z": "3187bd06ef664359",
        "name": "temperature building",
        "group": "08c18c121b60a93e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "building",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "19",
                "color": "#003e80"
            },
            {
                "from": "21",
                "color": "#ffc800"
            },
            {
                "from": "23",
                "color": "#ea5353"
            }
        ],
        "min": "19",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "c1e44963ee6927d1",
        "type": "ui-gauge",
        "z": "3187bd06ef664359",
        "name": "temperature building",
        "group": "08c18c121b60a93e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "building",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "19",
                "color": "#003e80"
            },
            {
                "from": "21",
                "color": "#ffc800"
            },
            {
                "from": "23",
                "color": "#ea5353"
            }
        ],
        "min": "19",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "fbaab694d0b26d0a",
        "type": "ui-gauge",
        "z": "3187bd06ef664359",
        "name": "temperature building",
        "group": "08c18c121b60a93e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "building",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "19",
                "color": "#003e80"
            },
            {
                "from": "21",
                "color": "#ffc800"
            },
            {
                "from": "23",
                "color": "#ea5353"
            }
        ],
        "min": "19",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "92a757d291f30334",
        "type": "ui-gauge",
        "z": "3187bd06ef664359",
        "name": "temperature building",
        "group": "08c18c121b60a93e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "building",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "19",
                "color": "#003e80"
            },
            {
                "from": "21",
                "color": "#ffc800"
            },
            {
                "from": "23",
                "color": "#ea5353"
            }
        ],
        "min": "19",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "0c465115462ee616",
        "type": "ui-gauge",
        "z": "3187bd06ef664359",
        "name": "temperature building",
        "group": "08c18c121b60a93e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "building",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "19",
                "color": "#003e80"
            },
            {
                "from": "21",
                "color": "#ffc800"
            },
            {
                "from": "23",
                "color": "#ea5353"
            }
        ],
        "min": "19",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "a0073978385a0650",
        "type": "ui-gauge",
        "z": "3187bd06ef664359",
        "name": "temperature building",
        "group": "08c18c121b60a93e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "building",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "19",
                "color": "#003e80"
            },
            {
                "from": "21",
                "color": "#ffc800"
            },
            {
                "from": "23",
                "color": "#ea5353"
            }
        ],
        "min": "19",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "5b75194f933d58c9",
        "type": "ui-gauge",
        "z": "3187bd06ef664359",
        "name": "temperature building",
        "group": "08c18c121b60a93e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "building",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "19",
                "color": "#003e80"
            },
            {
                "from": "21",
                "color": "#ffc800"
            },
            {
                "from": "23",
                "color": "#ea5353"
            }
        ],
        "min": "19",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "eaa360067a8e68b6",
        "type": "ui-gauge",
        "z": "3187bd06ef664359",
        "name": "temperature building",
        "group": "08c18c121b60a93e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "building",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "19",
                "color": "#003e80"
            },
            {
                "from": "21",
                "color": "#ffc800"
            },
            {
                "from": "23",
                "color": "#ea5353"
            }
        ],
        "min": "19",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "56f3f5a9aeaab21b",
        "type": "debug",
        "z": "3187bd06ef664359",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "aa3572b743cf326b",
        "type": "function",
        "z": "3187bd06ef664359",
        "name": "set labels",
        "func": "msg.ui_update = {\n  style : 'rounded',\n  label : msg.location + \" \" + msg.source, \n  min : 18, \n  max : 22,\n  units : \"C\",\n  segments : [\n    {color: '#0000FF', from: 18},\n    {color: 'Yellow',  from: 20},\n    {color: '#FF0000', from: 21}\n  ]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 240,
        "wires": [
            [
                "9bfc50e58ff45907"
            ]
        ]
    }
]